[2020-08-04 15:45] aldanor commented on #66
Or `NO_SNAKES_PLEASE=1` 😀

Alright, I'll take a look.

[2020-08-05 19:46] jakirkham commented on #84
I was looking for `__cuda` in the codebase, but didn't find it. Is there somewhere I should be looking?

[2020-08-05 19:49] jakirkham commented on #84
NVM I see now ( https://github.com/TheSnakePit/mamba/pull/104 ). So we just use whatever virtual packages Conda has. Is that right?

[2020-08-05 19:53] wolfv commented on #84
Yes, that's correct. Let us know if this works well for you guys.

[2020-08-05 20:48] jakirkham commented on #84
Thanks Wolf. Will do 🙂

[2020-08-05 23:55] pbradz opened #442 "conda-forge repodata files getting truncated?"
I'm not 100% sure whether the problem here is with mamba or with conda-forge, but installing packages through conda works fine for me. However, just after installing mamba, I tried to run `mamba install wget` and got the following error:

[code]

I opened the offending json file and it seemed like it had gotten truncated partway through (i.e., it just stopped dead at a comma). I removed that cache

[2020-08-06 17:00] wolfv commented on #442
thanks for opening this issue... I haven't seen this so far and I was using mamba quite extensively the last couple of days. Let's see if this keeps popping up. are you on the latest mamba version?

[2020-08-06 18:00] pbradz commented on #442
I think so, I just tried installing mamba again from conda-forge and it seems to be up to date. I'm not sure what the actual version number is; `mamba -V` returns `conda 4.8.3`.

[2020-08-06 18:08] pbradz commented on #442
Hey, the issue seems fixed -- maybe there was a problem on conda-forge's side? I still don't understand why regular conda would have worked in that situation, but I'll take it.

[2020-08-06 18:13] wolfv commented on #442
Hmm, actually mamba should now print its own version, too. Latest should be 0.4.4

Maybe with --version?

[2020-08-06 18:16] pbradz commented on #442
Yup, that works:
[code]
Thanks for looking into it!

[2020-08-10 13:48] marimeireles opened #445 "Create a `mamba list` for micromamba"
As discussed with @wolfv, if anyone has anything to add here, please feel free.

[2020-08-10 13:59] marimeireles opened #446 "Download indicators aren't draw to the end of the bar even if download is finished"
This is a cosmetic issue. I think we discussed this before, but since I didn't find an open issue about it, decided to create one.

When the packages are too small and downloaded too fast the indicators don't finish drawing to the end of the bar, see log:

[code]

According to Wolf, happening because we're using HTTP2 now? If I'm not mistaken.

[2020-08-11 13:44] ericmjl opened #447 "Mamba installs to wrong directory when executed from an activated environment"
I think I have found a bug, but I am not sure, so I'm reporting it here to check first.

Let's say I have an environment, called `testenv`. I created it while in my `(base)` environment, and it contains mamba.

[code]

Now, within my `testenv`, I _update_ the environment from an environment.yml file:

[code]

[code]

I noticed that mamba installs everything into the directory `/path/to/anaconda/en

[2020-08-12 14:26] ericmjl opened #448 "libc++abi.dylib error with mamba"
Hi everybody!

I get the following error with `mamba` 0.4.4 on macOS Mojave (10.14.6 (18G6020)).

[code]

I was wondering, is this related to some C++ incompatibilities? If so, what version of c++ "things" is mamba looking out for?  (Apologies in advance for the ambiguity, I'm still learning a ton about C++ stuff.) No pressure here, I'll just fall back on `conda` for the time being.

~~Right now,

[2020-08-14 13:30] JohanMabille opened #450 "remove thirdparty headers from public headers"
These headers should not be part of the public API.

This will allows to use the set_property(PUBLIC_HEADERS) / intall(target, PUBLIC_HEADERS DESTINATION) feature of cmake which does not preserve the directory structure.

[2020-08-14 13:32] JohanMabille opened #451 "Define a clear public API"
I don't think all of the headers need to be in the public API.

[2020-08-14 13:35] JohanMabille opened #452 "CMakeTarget names"
some of the targets name should be improved to avoid confusion:
mamba_api -> mamba_extension
mamba -> mamba_lib

[2020-08-14 13:36] JohanMabille opened #453 "CMake shared and static build"
We could reuse the pattern from xeus-python to build static and shared versions of mamba.

[2020-08-14 13:42] SylvainCorlay commented on #452
- Maybe not rename `mamba`? (or call it `libmamba` directly like the produced library).
- I think that `mamba_api` should rather be called `python_mamba`. After all, we will have R bindings as well.

[2020-08-14 20:30] JohanMabille commented on #452
`mamba` makes me think it's the target for the executable. `libmamba` is a good name. And I agree for the second name too.

[2020-08-16 14:03] wolfv commented on #452
I think I already renamed them in the open PR

[2020-08-16 14:05] wolfv commented on #450
But we need to have the correct types to assign to context, and context takes fs::path types. And we're currently using the filesystem polyfill for that.

[2020-08-16 14:06] wolfv commented on #450
We could change this so that we have a setter function for the relevant options and make the setter function take a std string

[2020-08-17 19:42] marimeireles opened #456 "Different help messages for same problem"
So, if you don't have a `target_prefix` and you need to activate one you might get one of the two messages depending on what you're doing:

https://github.com/TheSnakePit/mamba/blob/54413e75986e16ea187789d9ab1ad47c28f3da6c/src/main.cpp#L252-L253

https://github.com/TheSnakePit/mamba/blob/54413e75986e16ea187789d9ab1ad47c28f3da6c/src/main.cpp#L413

One says it's necessary to add a `-p` and the other

[2020-08-17 19:49] marimeireles commented on #456
I think without the `-p` but it might depend on the context?

[2020-08-18 13:48] marimeireles opened #457 "Running `shell init` doesn't set `$MAMBA_ROOT_PREFIX` for micromamba"
I used the following command to initialize my shell:

`./micromamba shell init -s zsh -p ~/micromamba `

And then I tried to create a new environment with the following:

`micromamba create ~/micromamba/mari`

But this didn't work. I got the following error message:

[code]

In my understanding, I already set a path to my `env`, that's what the shell script was supposed to be doing, right?

The on

[2020-08-18 15:43] marimeireles opened #458 "Create a -n option for `micromamba create`"

[2020-08-18 20:21] hugobuddel commented on #456
I'm very confused:
[code]
How to activate an environment?

[2020-08-18 20:24] marimeireles commented on #456
Hey @hugobuddel, maybe this other issue helps: https://github.com/TheSnakePit/mamba/issues/457
Or even the configurations for the CI to run:
https://github.com/TheSnakePit/mamba/blob/54413e75986e16ea187789d9ab1ad47c28f3da6c/.github/workflows/main.yml#L36-L43
That was actually what got me rolling.

[2020-08-18 20:42] hugobuddel commented on #456
Oh that is smart @marimeireles, looking at the CI scripts. I was already wondering where you got those commands from in #457. Ah, I think I get it now, `mamba.sh` creates a bash function called `micromamba`. So you are not supposed to run the `micromamba` executable directly, but only through this function. This is great. Sorry for polluting this issue.

[2020-08-18 21:34] dhirschfeld commented on #457
Just curious here but after "initializing" your shell did a *new* shell then work?

At least with conda, (on Windows) I'm pretty sure initializing only affects new shells.

[2020-08-19 16:44] marimeireles commented on #445
If we `conda list` this happens:
[code]
I thought a way to prevent this would be using `tabulate`. Any other idea where we don't have to depend on smth else? @SylvainCorlay @JohanMabille

[2020-08-19 17:22] marimeireles commented on #445
I think this is how conda people are doing it:

https://github.com/conda/conda/blob/ad15eb51670e6f8213546c67b0c0d2d35db17532/conda/cli/main_list.py#L21-L66

[2020-08-19 17:37] marimeireles commented on #456
Oh! No problem, glad I could help :)

[2020-08-19 17:40] marimeireles commented on #445
@wolfv opinions?

[2020-08-19 18:16] SylvainCorlay commented on #445
tabulate is probably better, unless crazy folks parse that list...

[2020-08-20 14:01] marimeireles commented on #445
hum, just found a bunch of code on mamba
dealing with table printing
https://github.com/TheSnakePit/mamba/blob/96762946c2cacbcfe6f571b4593a222b72430471/src/output.cpp#L277-L383
should prbb use those instead of tabulate, right?
@SylvainCorlay

[2020-08-20 14:04] marimeireles commented on #445
Also @wolfv shouldn't the `channel` contain only the channel and not the url? I'm gonna parse the channel out of it for this output. We can move the code to `package_info.cpp` if you think it makes sense.

[2020-08-20 22:12] wolfv commented on #445
Yeah we have some code somewhere to cut out the channel url for certain repositories. New code should probably use the name function on the channel class

[2020-08-20 22:12] wolfv commented on #445
@JohanMabille  should know about this :)

[2020-08-21 17:30] mariusvniekerk opened #461 "Add support for `--file` to micromamba create/install"
This will allow micromamba to create environments from conda-lock lockfiles.

Particularly the @explicit flag that makes the solver not run

[2020-08-24 08:14] wolfv commented on #457
yes, when you do shell init, your `~/.zshrc` file should be modified. You then need to either `source ~/.zshrc` or start a new shell to have the variables (including MAMBA_ROOT_PREFIX) set.

[2020-08-24 12:44] gilescope opened #463 "Computer go brrrrrrrrrrrrrrrr"
So I tried Mamba and it was no worse than conda at installing a conda package.

But when doing mamba install, I looked at why my core* was maxed out, it was because it was running python not c++.

You're doing everything well, please keep going so we can have less slow python and more c++.

(* we spread our compute real thin)

[2020-08-24 13:20] wolfv commented on #463
Hi @gilescope

indeed, mamba still uses Python, but it wraps a C++ core with `pybind11`. We are also hard at work on a pure-C++ package called `micromamba` that doesn't use Python at all :+1:

[2020-08-24 14:10] marimeireles commented on #457
I sourced it, and it didn't work for me, I had to follow these ^

[2020-08-24 14:11] marimeireles commented on #445
@JohanMabille can you point me to this code? I wrote my own function to parse the `channel`.

[2020-08-24 14:12] gilescope commented on #463
Excellent news, good luck on your quest! Happy to test out once you've got something that hangs together. (I'm afraid I'm a rust dev not a c++ dev so can't really lend too much of a hand in the coding itself.)

[2020-08-24 14:35] JohanMabille commented on #445
Everything is in [channel.hpp](https://github.com/TheSnakePit/mamba/blob/master/include/mamba/channel.hpp).

I guess the simplest solution is to call `make_channel` and then extract the part that you need:

[code]

[2020-08-25 10:19] KarolisMatjosaitis opened #467 "ERROR: This cross-compiler package contains no program"
Hi,

I receive an error while activating created new environment with r-base from conda-forge channel.
Tested both on `mamba` and `conda`. Issue is only observed if r-base is installed with `mamba`.
Steps to reproduce:
1. Create new empty environment:
`mamba env create -n test`
2. Install latest r-base from conda-forge:
`conda activate test && mamba  install -c conda-forge r-base`
3. Try to deacti

[2020-08-25 16:24] marimeireles opened #468 "Add -n for micromamba"
For creating envs and activating them.

[2020-08-25 16:24] marimeireles opened #469 "Throw warning if user didn't specify channels for micromamba"
Currently we're showing a erroneous err msg.

[2020-08-25 20:17] #458 closed

[2020-08-26 09:07] wolfv commented on #467
Hi & thanks for the bug report!

do you remember if the version of r-base that got installed with conda vs. mamba is the (exact) same?

[2020-08-26 10:02] KarolisMatjosaitis commented on #467
Hi wolfv,
Yes, it seems that both conda and mamba are using same version and build.
With `conda install -c conda-forge r-base`:
r-base             conda-forge/linux-64::r-base-**4.0.2-he766273_1**

With `mamba install -c conda-forge r-base`:
 r-base                           **4.0.2  he766273_1**           conda-forge/linux-64

Here is a complete list of pkgs that are installed with `mamba`:

[cod

[2020-08-26 16:08] marimeireles commented on #445
closed by #470

[2020-08-26 16:08] #445 closed

[2020-08-26 17:21] wolfv commented on #468
done yuhuuu

[2020-08-26 17:21] #468 closed

[2020-08-26 17:35] marimeireles commented on #457
It works for me when I'm near @wolfv

[2020-08-26 17:35] #457 closed

[2020-08-27 15:05] gilescope commented on #463
Just had a quick try of that on linux and seemed twice the speed of conda for a simple package so a great start! Keep up the good work on micromamba.

[2020-08-27 16:50] ipstone opened #474 "After switching to mamba and installed r-ggpubr, R could not be started: on mac os 10.14.6"
The error msg is  `dyld: Library not loaded: @rpath/libncurses.6.dylib`

Recently I have some similar issue (broken library) on cent OS for my R packages after using mamba . As this keeps happening I am wondering whether it's an issue with mamba, or it might be an issue with conda-forge - it seems mamba tends to find package from the forge - might there be some packages issues on the forget to cau

[2020-08-27 17:09] ipstone commented on #474
Just adding one note, this issue might be related to : https://github.com/ContinuumIO/anaconda-issues/issues/11184

[2020-08-28 05:46] dhirschfeld opened #476 "Debugging a failed solve"
When trying to install a large metapackage:
[code]
`mamba` fails to solve and spits out the below message:
[code]

The is obviously because of inconsistent dependencies but the only python specification in the metapackage is for version 3.7 so I've no idea what package wants to use `python-3.4.5-0`

![image](https://user-images.githubusercontent.com/881019/91525584-30440200-e945-11ea-8bbd-ab236bd9

[2020-08-28 12:20] wolfv commented on #474
Hi @ipstone can you give me some additional information?

I am wondering: what R packages do you have, which specific package requires ncurses and what version of R are you using (or do you want to use?)
Also where are you getting these R packages from? Are you mixing conda-forge and other channels?

This _may_ be a problem with mamba, but I think it is more a problem with bad repodata as some pac

[2020-08-28 12:28] wolfv commented on #467
Ok I am not entirely sure why conda picks an older gfortran version but I think you should not mix channels on compilers like this.

I think since you are on Linux (as opposed to Windows) you should use `--strict-channel-priority` and it would hopefully fix your issues (including your last issue with what channel gets chosen).

[2020-08-28 12:48] #66 closed

[2020-08-28 22:01] dhirschfeld commented on #476
I think what I want is `depends --tree`! :rocket:

Unfortunately the output on my Windows box (powershell/cmd) is a bit garbled:

![image](https://user-images.githubusercontent.com/881019/91618411-9ffdcf80-e9cd-11ea-9fce-b76a2cfd46f9.png)

Is the output correct for others on Windows? i.e. is it just my environment which is uniquely broken?

[2020-08-28 22:13] dhirschfeld opened #478 "Older libiconv linked?"
I had to explicitly tell `mamba` to install the `0.5.1` version. An update didn't do it without requesting the explicit version. I think it's because it wanted to downgrade my `libiconv`.
[code]
[code]
This is just FYI - it's otherwise harmless so feel free to close...

[2020-08-28 22:38] dhirschfeld commented on #476
^ same garbled output on `0.5.1`

[2020-08-28 22:40] dhirschfeld commented on #476
Piping to a text file improves the tree, but then you get the escape codes!

![image](https://user-images.githubusercontent.com/881019/91620410-3bde0a00-e9d3-11ea-9c60-5e072f06a2c3.png)

[2020-08-28 22:44] dhirschfeld commented on #476
Anyway, that's good enough to let me debug:

![image](https://user-images.githubusercontent.com/881019/91620570-a7c07280-e9d3-11ea-885b-fb137dc11da9.png)

...seems I've got some more digging to do to understand why `mamba` wants to install `matplotlib=1.5.3`!

[2020-08-30 02:44] dhirschfeld opened #480 "repoquery depends --tree output garbled on Windows"
Porting over from https://github.com/TheSnakePit/mamba/issues/476#issuecomment-683165164

The characters used to render the tree don't show up correctly on my Windows box:

![image](https://user-images.githubusercontent.com/881019/91618411-9ffdcf80-e9cd-11ea-9fce-b76a2cfd46f9.png)

NB: In the `cmd` terminal the tree view *does* render correctly if piped out to a file (but then you get the escape c

[2020-08-30 03:21] dhirschfeld commented on #476
The culprit turned out to be `ibis-framework`. I was only really able to figure that out by a process of trial-and-error 😬

The takeaway for me was to always specify a minimum version for all top-level deps which seemed to help the solver out. I guess in practice there really always will be *some* minimum version it will work with.

I'm not sure how when I specified `python=3.7*` anything with `3.

[2020-08-30 03:21] #476 closed

[2020-08-31 13:25] maartenbreddels opened #481 "Rehash executables after installing packages"
Bash, zsh and csh (and possibly other shells) keep a hash of executable name-> path. Which means that if your PATH changes, or executables gets added to a directory in the PATH, which were previously executed, you will execute the 'wrong' executable. Calling `hash -r` or `rehash` (depending on the shell), it will get updated/cleared.

This is quite painful with pip, because if you forget to instal

[2020-08-31 13:28] maartenbreddels commented on #481
Note, this is a general shell issue. But since mamba is such a user-facing product, it makes sense to see if we can easy the pain a bit.

[2020-08-31 22:23] brianv0 commented on #404
This would make `--no-update-deps` work, right?  I was about to file an issue about this because it seems to not work as expected (And I was also trying `--freeze-installed`.

The following does not work as expected for me:

[code]

<details>
<summary>Mamba output</summary>
[code]
</details>

<details>
<summary>conda output</summary>

[code]

</details>

[2020-09-03 05:36] bdice opened #482 "Listen for keyboard interrupt to exit at prompt"
Hi, huge fan of mamba. ❤️ 🐍 I noticed that I can't kill `mamba` with Ctrl+C when it arrives at a prompt:

[code]

I expected Ctrl+C to cancel/stop the program but Ctrl+C does nothing until I respond to the prompt with `<enter>`. This is a small issue, but it has tripped me up and made me think my terminal isn't responding several times. It would be a nice UX fix.

[code]

I verified that `conda` c

[2020-09-03 11:54] benjamb commented on #439
This looks to have been addressed by https://github.com/TheSnakePit/mamba/pull/444.

[2020-09-03 14:30] #439 closed

[2020-09-04 11:43] jorisvandenbossche opened #484 "Trying to update a package that is not installed gives confusing message"
I tried to update pytest-xdist, but which wasn't installed yet, and it gives me the message "nothing to remove":

[code]

[2020-09-04 14:16] wolfv commented on #484
thanks, yeah this needs some love :)

[2020-09-04 18:54] analog-cbarber opened #485 "Release notes"
It would be nice to see checked in release notes or change log somewhere.

[2020-09-05 01:29] michaelaye opened #486 ""Confirm changes" assumes Y for other replies"
Download started despite providing a non-allowed character `k`:

[code]

[code]

[2020-09-07 13:30] SilasK opened #487 "mamba update doesn't work as expected"
I'm working on OSX mainly.
conda 4.7.12

If I run `mamba update <package>` I get `# All requested packages already installed.``

but with conda I can update them.

[2020-09-07 14:11] wolfv commented on #487
Hi @SilasK

This is a very bad bug report. I am going to close it, but I am happy to re-open it once you provide me with more details: e.g. what packages are not getting updated?

[2020-09-07 15:22] SilasK commented on #487
@wolfv Sorry. I encountered it multiple times for bioconda packages therefore I thought it would be a general problem.

To start with

`bbmap                                    38.79-h01d97ff_0 --> 38.86-hf29c6f4_0``

works with conda but not with bioconda.

[2020-09-07 15:41] wolfv commented on #487
and you have bioconda properly in your channels?

[2020-09-07 15:45] wolfv commented on #487
also it seems like your version of conda is quite old, and therefore I also believe your version of mamba is quite old. possible?

This is what I have:
[code]

[2020-09-08 15:36] fcollonval opened #488 "RuntimeError on cache in multi-users case"
Fail to create a new environment using mamba.

Context:
- JupyterHub installation
- Shared pkgs and envs directory with rw rights at a common group level

[code]

The cache file is owned by another user than the one creating the environment.

Reference:
mamba 0.5.1
conda 4.8.4

[2020-09-09 02:50] alphahmed opened #490 "Latest conda-forge update fails to install latest mamba..."
After updating and upgrading conda as usual, trying to install mamba using conda as follows:

`$ conda install mamba -c conda-forge`

Getting:

[code]

[2020-09-09 07:00] wolfv commented on #490
mamba 0.1.2 is an extremely old version. The latest is 0.5.1
Can you try to explicitly install the latest version with `conda install mamba=0.5.1 -c conda-forge`?
I wonder where the conflict is.

Also generally it's advised to have a slim base environment (just the most important things in the base env, e.g. conda, mamba, ...) and everything else in new environments.

[2020-09-09 07:01] wolfv commented on #488
Thanks for the detailed bug report!

[2020-09-09 11:32] alphahmed commented on #490
After two hours of examining conflicts related to this version specifying command:

`$conda install mamba=0.5.1 -c conda-forge`

The following are the details of the conflicts output:

[code]

Following a long list of details, it seems that there are many conflicts.

[2020-09-09 11:35] alphahmed commented on #490
I also have to mention that a fresh install of anaconda on another pc also failed to install the latest version.

[2020-09-09 12:52] wolfv opened #491 "[micromamba] When updating python, make sure to reinstall (recompile) noarch python packages"

[2020-09-11 15:42] fhoehle opened #493 "Channel URLs are not rendered correctly"
Thanks for this nice and **_fast_** package manager!

At the moment I'm facing the issue when using a `channel_alias` in my `.condarc` in order to redirect requests to a coporate `conda-forge` channel mirror no suitable package can be found by `mamba>0.4.1`.

Minimal example:

The `.condarc`
[code]

mocking a conda mirror providing `_r-mutex` and creating the env `test`
[code]

Creating a env with

[2020-09-11 19:16] ijstokes opened #494 "Installing Mamba on Mac with latest Conda as starting point spins for >30 minutes"
I'd love to try out Mamba.  I was part of the Anaconda core engineering team for 5 years, so I'm fairly expert with the conda ecosystem.  But I can't install it in my base environment.  Below is a trace of how far I get with 30 minutes of waiting:

[code]

[2020-09-11 20:21] ijstokes commented on #494
OK, I left it for another hour and now it is into conflict resolution.  I don't have verbose debugging output turned on (can do that if it helps figure out what is happening), but I've now got this additional output (second line is 100s of characters wide):

[code]

In case it helps, I've attached my current base environment.

[base-conda-environment.txt](https://github.com/mamba-org/mamba/files/5

[2020-09-12 13:37] Rohit-Satyam opened #495 "mamba throws error while conda doesn't"
Hi everyone!!

I really like the speed of mamba however, in many cases it throws error than conda. Below mentioned is an example. I tried downloading the  soapdenovo2 assembler but using mamba it got aborted but conda didn't find any conflicts. Why is it so?

`conda 4.8.4
mamba 4.8.4
`

`mamba install -c bioconda soapdenovo2`
[code]

However with conda it get's installed successfully

`conda insta

[2020-09-12 13:57] wolfv commented on #495
When and how did you install mamba? You have a pretty old version I believe.

[2020-09-12 13:59] kevinrue commented on #495
Can you check your version of `mamba` again?

You cannot have `mamba 4.8.4` as the latest version is `0.4.1`

I have:
[code]

and I get

[code]

[2020-09-12 14:19] Rohit-Satyam commented on #495
Seems I referred to a blog post and ended up having old version of mamba. The Mamba initially showed the conda version only I guess
`conda install mamba -c conda-forge/label/mamba-alpha -c conda-forge`

I have removed and doing a fresh installation. It's working fine now. Sorry for the trouble. I will close this.

[2020-09-12 14:19] #495 closed

[2020-09-12 14:21] wolfv commented on #495
No problem!

[2020-09-14 14:28] ijstokes commented on #494
Eventually finished (don't know how long it took), but didn't complete successfully. Got this long set of un-resolvable conflicts.

[mamba-conflicts.txt](https://github.com/mamba-org/mamba/files/5219067/mamba-conflicts.txt)

[2020-09-14 14:44] ijstokes commented on #494
I uninstalled the `anaconda` meta-package and a few other proprietary packages I had in my `base` environment and tried again.  It worked quickly and installed just fine! But then I ran into another `mamba` issue that I think is a bug and I'll report separately.

[2020-09-14 14:44] #494 closed

[2020-09-14 14:51] ijstokes opened #496 "mamba doesn't like Artifactory URLs"
Tried to install `dask` and `pandas` using `mamba` with my existing `.condarc`, which includes an HTTPS URL channel entry for a private Artifactory repository.  The Artifactory repo URL, with URL-embedded username and access token, caused mamba to bork.  Trace below.

[code]

[2020-09-14 15:38] wolfv opened #497 "micromamba build on Windows"
Consider disabling krb5 and ldap on Windows / vcpkg.

[2020-09-15 06:29] wolfv commented on #494
Thanks @ijstokes

[2020-09-15 13:20] #497 closed

[2020-09-15 16:54] maresb opened #498 "Support printing shell hooks with micromamba"
Hi, I'd like to be able to run something similar to
[code]
with `micromamba` in order to run the shell init commands without having to modify `.bashrc`. (This is especially useful when running from a non-interactive shell, e.g. in a Dockerfile build.)

Currently I am using the following ugly workaround, which I'd like to replace:
[code]

Since micromamba runs outside of a preexisting environment,

[2020-09-15 19:50] wolfv commented on #498
I totally believe this would be possible and not hard to achieve. Do you want to look into this?

[2020-09-15 20:07] maresb commented on #498
I would really like to, but unfortunately it would take me an inordinate amount of time since I'm specialized in Python rather than C++.

[2020-09-16 06:33] dhirschfeld opened #499 "[win][µmamba] Micromamba fails to create environment"
I hadn't initialised my shell so just set the env var but micromamba failed to create the environment:
[code]

[2020-09-16 06:35] wolfv commented on #499
yeah that's another "bug" right now where micromamba doesn't have any default channels. If you add `-c conda-forge` to the end it should work. This will be fixed soon.

[2020-09-16 06:35] wolfv commented on #499
did you try the `.exe` that I posted by any chance?

[2020-09-16 06:36] dhirschfeld commented on #499
That is with the exe!

[2020-09-16 06:38] wolfv commented on #499
neat, so the static linking appears to have worked :)

[2020-09-16 06:40] dhirschfeld commented on #499
[code]

[2020-09-16 06:44] dhirschfeld commented on #499
`$env:MAMBA_ROOT_PREFIX='C:/Miciconda3/bin'` was the location of the `micromamba.exe` binary but it looks like it has used that as the env dir?

I guess µmamba isn't picking up *any* conda config as I have my env dir set to:
[code]

[2020-09-16 06:47] wolfv commented on #499
Yep, the ROOT PREFIX is just any prefix on your system, where the cache files should live (repodata and pkgs cache).
Usually you'd set that into your powershell or cmd.exe init with `.\micromamba.exe shell init -s powershell -p ~/MyROOTPREFIX`

conda does something similar but uses it's own location (of the conda package) as the root prefix.

[2020-09-16 06:48] wolfv commented on #499
also yeah, micromamba doesn't read any YAML files and no config files right now ... we're close to having the yaml file reading for environment.yaml files though :)

[2020-09-16 06:48] dhirschfeld commented on #499
Can you share the same prefix / pkg cache as a miniconda install, or will Bad Things Happen?

[2020-09-16 06:50] dhirschfeld commented on #499
Awesome work @wolfv - cheers for making the effort to get it working on Windows! I'll certainly follow development closely and am happy to do any testing...

[2020-09-16 06:51] wolfv commented on #499
you can share the prefix, indeed, and I have done this in testing now. So far nothing bad has happened but I wouldn't give any guarantees.

Thanks for the testing, as always!

[2020-09-16 12:40] saraedum opened #503 "attempted relative import beyond top-level package"
There seems to be an issue with error handling in mamba.

When I run the following (invalid) command, I get a failing relative import:

[code]

produces

[code]

[2020-09-16 12:40] saraedum commented on #503
This is with mamba 0.5.1 from conda-forge.

[2020-09-16 13:19] wolfv commented on #503
indeed that looks like a seldomly executed code path. do you want to contribute a fix? This error needs to be imported from conda.

[2020-09-16 15:07] saraedum commented on #503
Sure. I'll give it a try.

[2020-09-16 15:59] FelixMoelder opened #504 "Creating environment from yaml fails when applying channel prefix"
mamba fails creating environments from yaml files when using a channel prefix e.g. `conda-forge::textacy` (see attachment for minimal example) returning the following error:

[code]

This issue seems to be limited to creating environments from yaml-files, as `mamba create -n name conda-forge::textacy` works perfectly fine.
As this syntax works on command line and also when the channel has been def

[2020-09-17 11:33] alexeyegorov commented on #504
To add to the description above: creating the conda environment from this file with channel prefix works with conda command fine. ;)

[2020-09-18 09:55] astrofrog opened #508 "Incorrect exit code when an error occurs"
When mamba fails to find the required packages, the exit code should not be zero:

[code]

[2020-09-18 14:56] ocefpaf opened #509 "Suport multiple --file for multiple requirement text based files like in conda"
conda supports multiple --file args so people can mimic pip's behavior and have requirements.txt and requirements-dev.txt files separate. mamba and micromamba fails at the moment with the message:

[code]

[2020-09-20 15:40] wolfv opened #510 "Run constrains with already-installed package"
we need to make sure that run constrains of already installed packages are correctly adhered to when adding new packages. This was an issue with the following:

[code]

from this repodata.json
[repodata.zip](https://github.com/mamba-org/mamba/files/5252000/repodata.zip)

[2020-09-21 09:14] ChangliangWang opened #511 "Problem: nothing provides requested maestro 1.2.1**"
Dear Wolfv,

When I install MAESTRO using mamba (mamba create -n MAESTRO maestro=1.2.1), I encountered the error 'Problem: nothing provides requested maestro 1.2.1**'. Do you know how to fix it? Thanks very much for your help.

Best regards,
Changliang.

[2020-09-21 11:59] wolfv commented on #511
you need to use the right channel.

[2020-09-21 11:59] #511 closed

[2020-09-22 15:45] mariusvniekerk commented on #490
The anaconda metapackage imposes a large number of constraints.  Can you try this in a miniconda based environment?

[2020-09-23 05:24] rgerkin opened #512 "Repodata file truncated, preventing install"
From a fresh install of miniconda 3.8 and mamba 0.5.1 in WSL2, Windows 10 2004, no matter what I try to install with mamba (e.g. `mamba install numpy`) I get this strange error:
[code]

If I look at that .json file, it is truncated:
[code]
I have no idea why mamba (or conda, or whatever is trying to create this file) is leaving it truncated.  If I delete the truncated JSON file, it just gets creat

[2020-09-23 07:09] SilasK commented on #487
yes, my version was quite old. sorry.

[2020-09-23 07:09] #487 closed

[2020-09-23 22:35] michaelaye opened #513 "mamba does not seem to respect configured source priorities?"
I have set environment specific conda-forge priority:

[code]

but doing an `update --all` without providing the channel on the command-line, `mamba` wants to replace all my `conda-forge` packages with same versions from the defaults channel:

[code]

[code]

[2020-09-24 00:05] MattF-NSIDC opened #514 ""--no-banner" doesn't work with "mamba env create""
Just discovered this project today, pretty sweet!

We attempted to replace a `conda env create` command with mamba, but didn't want the banner. The command:

[code]

Returned:
[code]

P.S.: I had to read the source code to find the `--no-banner` option as it wasn't documented in `mamba --help`. It was one of the first things I wanted to change, and it took quite some time to figure it out.

[2020-09-24 06:49] alphahmed commented on #490
Still no luck with miniconda.
It actually gave up after only two trials of flexible solves.
Is there any way of using the source code, or just exporting the latest version to pip so we can install it suing pip?

[2020-09-24 11:31] chrisburr opened #516 "Control+D results in thousands of lines of "Confirm changes: [Y/n]""
To reproduce on Linux:
[code]

Truncated example:

[code]

[2020-09-24 12:29] dhirschfeld opened #517 "mamba fails to install env which conda can install"
On linux-64 the below environment can be installed with `conda` but `mamba` gives a nonsensical error:
(I've ported the package to an env file to more easily test outside CI , but it should be the same)
[code]
The error is nonsensical because the package *does* exist on conda-forge:
[code]

<details>
<summary><b><tt>environment.yml</tt></b></summary>

[code]
</details>

[code]

[2020-09-24 13:08] wolfv commented on #517
nice env! :) worked for me just now though.
I wonder if the channel specific packages are the culprit...

[2020-09-24 13:47] dhirschfeld commented on #517
Gah, I'll have to try and repro outside CI. Job for tomorrow though - getting late around these parts!

[2020-09-25 03:54] dhirschfeld commented on #517
I can also install it outside of CI :/

[2020-09-25 04:02] dhirschfeld opened #519 "mamba env update doesn't accept a url"
[code]

[2020-09-25 04:03] dhirschfeld commented on #519
mamba (0.5.1) on linux

[2020-09-25 04:07] dhirschfeld commented on #517
Ok, I can't repro it myself (outside CI) so will close for now

[2020-09-25 04:07] #517 closed

[2020-09-28 06:52] wolfv opened #520 "[micromamba] [win] check if pyc compilation works"
There were some clobberwarnings on pyc files in the boa ROS builds for win.

[2020-09-29 10:39] maresb commented on #498
I decided to take a quick look today. I followed the instructions, but ran into a few problems:
1. I needed to change to the `src` directory before running the `cmake` command.
2. I needed to run `make` after running the `cmake` command.
3. No executable was created. I added `-DBUILD_EXE=ON` to the `cmake` command.
4. `fatal error: yaml-cpp/yaml.h: No such file or directory` so I did `mamba instal

[2020-09-29 21:01] mariusvniekerk opened #521 "micromamba create does not support the --override-channels flag"
When trying to use micromamba in conjunction with `conda-lock` we get the following kinds of errors

[code]

It would be great if micromamba supported this, which would enable us to make micromamba the default solver for conda-lock in the even that neither conda or mamba are installed.

[2020-09-29 21:02] mariusvniekerk commented on #521
For reference see https://github.com/conda-incubator/conda-lock/commit/2dd88f7d55695f171c7e060d5fec0dc23ce1a1d7

[2020-09-30 08:02] maresb opened #522 "Expired certificate for micromamba.snakepit.net"
The Let's Encrypt certificate for micromamba.snakepit.net expired 30 minutes ago.

[2020-09-30 09:02] mariobuikhuizen commented on #522
Thanks for reporting!

It is now fixed

[2020-09-30 09:10] maresb commented on #522
Thanks for the quick response! It's working again on my end too.

[2020-09-30 09:10] #522 closed

[2020-09-30 14:32] mariusvniekerk commented on #521
This can just be a `noop`

[2020-10-01 21:33] wolfv commented on #521
this is fixed with 0.5.3, as a noop for now.

Although I am not sure: if you pass in an environment.yml file, what is the expected behavior? override channels from in there?

[2020-10-01 21:34] wolfv commented on #509
done in 0.5.3

[2020-10-01 21:34] wolfv commented on #509
-- done for micromamba. I just saw you mentioning that this is also an issue in mamba.

[2020-10-02 02:01] mariusvniekerk commented on #521
I'm not sure what conda env create does for that (but if memory serves it doesn't have the ability to specify channels).

[2020-10-02 07:19] wolfv commented on #521
you can have channels in environment.yml files afaik

[2020-10-02 11:06] xhochy commented on #521
If you want to override channels with an `environment.yml` you need to add the special `nodefaults` channel to it. The commandline option should have any influence.

[2020-10-02 15:40] wolfv commented on #512
Hi @rgerkin thanks for your bug report!

I have just tried on WSL2 on my Windows partition and it seems to work fine. Using the latest Miniconda 3.8 installer (on Ubuntu 20.04 in WSL2) I installed mamba 0.5.3.

Did you install mamba in the root prefix (base)? It _has to be installed in the base environment_.

From there I was able to create a new environment with e.g. xtensor inside.

![image](htt

[2020-10-02 17:50] ocefpaf opened #525 "Comment on the difference between and environment created with micro(mamba) vs conda"
I playing with various envs and I found an interesting pattern in the package solution differences. Mostly mamba seems to prefer older "arch'ed" packages versus newer `noarch` packages causing a few downgrades.

[code]

[2020-10-02 18:33] ocefpaf commented on #525
BTW, that happens only with micromamba, mamba is OK on the noarch vs arch downgrades. The differences I see with mamba are only with these 5 packages:

[code]

[2020-10-04 23:11] nehaljwani opened #526 "Request for uploading micromamba binary releases as artifacts on each tagged release on GH"
It would be awesome if a release of micromamba is uploaded on the releases page with each tag. Would make it very easy to bootstrap conda (or should I say mamba?) environments.

[2020-10-05 10:46] wolfv commented on #526
It's a very good idea. We could go two ways: either set up a seperate CI, or we could periodically check fi a new release is out and fetch the package from conda-forge and add it to the release (maybe with a cron job on github actions).
That way we'd have only one source-of-truth build pipeline (conda-forge).

[2020-10-05 10:47] wolfv commented on #526
thx for your PR's on micromamba feedstock by the way, very much appreciated!

[2020-10-07 15:50] lambiase commented on #512
I had exactly the same issue on Linux, but in my case it was caused by `/tmp` being full.
`conda` failed as well, but in a more helpful way:

[code]

[2020-10-07 22:55] djhoese commented on #499
This looks like really great progress! I've been using astropy/ci-helpers as a simple "get me conda and install my dependencies" on Appveyor for a while now, but ci-helpers doesn't want to support Appveyor anymore. I figure while I'm replacing my appveyor builds with manual installation why not try mamba. Any chance someone can point me to a .exe to test with (assuming there are no known failures

[2020-10-08 06:43] kmuehlbauer commented on #499
@djhoese You might use the files from here: https://anaconda.org/conda-forge/micromamba

[2020-10-12 03:03] dhirschfeld opened #530 "Does mamba support the Windows certificate store?"
I'm not sure if this is a problem with `mamba` or just the config on my machine but I'm seeing SSL errors against a repo server using self-signed certificates:
[code]
Setting `ssl_cerify: false` in my `.condarc` *"fixes"* the problem - but that's less that ideal.

Before going down the rabbit-hole I just wanted to confirm that `mamba` will use the Windows certificate store?

[2020-10-12 03:10] dhirschfeld commented on #530
IIUC to use the Windows certificate store you need to have `curl` compiled with the `--with-schannel` flag:

![image](https://user-images.githubusercontent.com/881019/95701051-d6e12980-0c8b-11eb-8d51-75145f223b3b.png)
https://curl.haxx.se/docs/install.html

* https://github.com/microsoft/vcpkg/blob/3a7899deb743d0d2198349d032f4f10b8702bce6/ports/curl/CONTROL#L30-L32
* https://github.com/microsoft/v

[2020-10-12 03:14] dhirschfeld commented on #530
### Update:
...it seems OpenSSL may support the Windows Credential Store via an option `CURLSSLOPT_NATIVE_CA`

![image](https://user-images.githubusercontent.com/881019/95701358-bf567080-0c8c-11eb-92d0-ea8471f69b37.png)

https://curl.haxx.se/libcurl/c/CURLOPT_SSL_OPTIONS.html

[2020-10-12 03:16] dhirschfeld commented on #530
***Note:***
`mamba` *does* seems to work when connecting from on-prem but maybe it's connecting to the HTTP endpoint. I'm only seeing this error when trying to install from a cloud VM (where HTTPS is enforced)

[2020-10-12 12:22] #493 closed

[2020-10-13 17:03] mbargull opened #532 "Channel priority not maximized over competing goals"
`mamba` seemingly prioritizes the package count minimization or package version maximization over channel priority.
In the case below it is expected (at least with `conda`'s semantics) that `conda-forge::libxcb` gets chosen, but `mamba` chooses `defaults::libxcb`.
(For this particular case, the source channel is important because `conda-forge::libxcb` depends on `xorg-*` packages and as such is us

[2020-10-13 17:17] wolfv commented on #532
even with strict-channel-priority? That is (afaik) recommended for the conda-forge use-case.

[2020-10-13 17:36] mbargull commented on #532
If `mamba` functions the same as `conda` with `channel_priority: strict`, then this can't happen with `strict`, of course.

So, are you saying `mamba` does not properly support the `channel_priority: flexible` use case?
If yes, that restriction should be added to the docs.
(cc @johanneskoester for viz)

[2020-10-14 14:05] MortenHannemose opened #533 "Different results for conda install and mamba install"
Using conda to install pytorch without a GPU finds the following packages:
`conda install pytorch torchvision cpuonly -c pytorch`
[code]
When executing the same command with mamba:
`mamba install pytorch torchvision cpuonly -c pytorch`
it finds the CUDA versions of the packages (intended for GPU)
[code]

I had expected that conda and mamba would find the same packages.

[2020-10-19 08:04] wolfv commented on #533
Yes, pytorch (unfortunately) still uses track_features. We already have an issue for that here #336

[2020-10-19 08:04] #533 closed

[2020-10-19 08:04] wolfv commented on #533
if you know the pytorch guys, please ping them on the linked issue!

[2020-10-19 08:05] wolfv opened #534 "Respect channel-specific specs in environment.yml"
This was encountered in the repo2docker project: https://github.com/jupyterhub/repo2docker/issues/973

[2020-10-19 08:17] martinRenou commented on #534
Working on it!

[2020-10-19 08:23] wolfv commented on #534
we have handling for this in the `mamba.py` and that needs to be ported to `mamba_env.py`.

[2020-10-19 08:27] martinRenou commented on #534
I see. Thanks for the precision :)

[2020-10-19 09:14] #534 closed

[2020-10-19 12:04] martinRenou commented on #519
This happens with `conda env` as well, using `conda 4.8.5`. If there is a conda version that supports this notation I suspect installing this conda version would actually fix this notation support with mamba as well (because mamba relies on conda for fetching and reading the file if I understand correctly).

[2020-10-19 12:13] martinRenou commented on #514
Instead of `mamba --no-banner env create -f /tmp/environment.yml`, can you try `mamba env create -f /tmp/environment.yml --no-banner`, it should work.

[2020-10-19 12:14] dhirschfeld commented on #519
Ah true. `{conda|mamba} env create --file https://...` *does* work so I guess it's just a missing corner case in `conda`. I'll close this as, if it should be fixed, it should probably be fixed upstream...

[2020-10-19 12:14] #519 closed

[2020-10-19 12:16] martinRenou commented on #519
If it's fixed upstream it should work with mamba :)

[2020-10-19 12:25] wolfv commented on #519
this particular part of conda is quite a mess... there are two different programs (`create` vs `env create`) that do similar things.

[2020-10-19 12:28] dhirschfeld commented on #519
yup 😬

[2020-10-19 12:36] #514 closed

[2020-10-19 12:39] martinRenou commented on #504
This should have been fixed by #535

[2020-10-19 12:39] #504 closed

[2020-10-19 13:29] martinRenou commented on #508
Working on this

[2020-10-19 13:57] #508 closed

[2020-10-19 15:41] #486 closed

[2020-10-19 15:41] #516 closed

[2020-10-19 15:50] martinRenou commented on #484
@wolfv When printing the transaction, is there actually a way to know which command was initially ran?

[2020-10-19 16:02] wolfv commented on #484
hmm... I think we have the update_specs and remove_specs that we add to the m_history_entry.update and remove ...
Also we could add the entire command line to the Context if we want.

https://github.com/mamba-org/mamba/blob/4104b8a3f97ae70f5ad74dc52916dd922c3b48f4/src/transaction.cpp#L280-L281

[2020-10-19 16:05] wolfv opened #540 "use terminal.hpp instead of getline"
let's use raw terminal mode for the prompt so user doesn't need to press enter. using https://github.com/certik/terminal

[2020-10-20 08:29] wolfv commented on #447
yes, for the moment mamba should _always_ be installed in the base environment. If you are using conda from a non-base environment you will have the same problem. You can try that by executing `conda activate testenv; $CONDA_PREFIX/bin/conda create -n xyz xtensor` it will behave the same.

Internally conda checks for it's `sys.prefix` to figure out where the root prefix is, which is what breaks th

[2020-10-20 08:29] #447 closed

[2020-10-20 08:43] #463 closed

[2020-10-20 21:17] jrwrigh opened #542 "Documentation?"
Is there any documentation for this? I see a `.readthedocs.yml` file, but can't find a link to Read-the-Docs site. It'd be nice as a reference to determine what features are not currently implemented in <code>mamba</code> and as documentation for `mamba` exclusive arguments (like the `reposearch` mentioned in the README).

Love the project though. Installing packages is _so_ much easier.

[2020-10-20 22:36] olivier-lacroix opened #543 "Unable to confirm changes on Windows on 0.6"
Hi there,

After upgrading to mamba 0.6, I am unable to progress past the "Confirm changes: [Y/n]" prompt in cmd.exe

Downgrading to 0.5.3 fixes the issue

[2020-10-20 23:23] philip-khor commented on #543
Seeing similar behaviour in Windows Terminal Preview 1.4.2652.0

[2020-10-21 01:19] owen-synergy commented on #543
I'm getting this too with Windows 10 cmd prompt

[2020-10-21 01:22] owen-synergy commented on #543
Doesn't work for me in the Anaconda Powershell Prompt either

[2020-10-21 06:06] wolfv commented on #543
Sorry! Yes, this code changed. We will make a patch release asap!

[2020-10-21 10:30] wolfv commented on #543
fixed with #544

[2020-10-21 10:30] #543 closed

[2020-10-21 10:50] wolfv opened #545 "Add API to get channels with priority"
We have some repeated code in different projects to assign the correct priorities.
We should have some API for that so we can re-use the correct channel priorities in boa.

[2020-10-21 16:53] jason-sachs opened #547 "Python 2.7 support"
Is there any shred of hope of asking for Python 2.7 support?

I know, Python 2.7 support is EOL as of Jan 1 2020. But I'm stuck in 2.7-land due to legacy concerns, and conda is so darn slow as of around Conda 4.5.0; it can take 5-10 minutes just to give me an answer that I have incompatible packages. I have to go to an earlier conda version (that is less robust? idk why they changed it).

[2020-10-21 16:57] jason-sachs commented on #547
(alternatively, can mamba be used from a Python 3 base environment to create/manage Python 2 environments in Anaconda/miniconda?)

[2020-10-21 17:38] wolfv commented on #547
@jason-sachs the second question: yes, that's totally possible. You can install python 2.7 packages with mamba from a python 3 base env.

I think there should be old python 2.7 builds of mamba. I don't really think we want to support Python 2.7 any longer for new code, though... sorry about that.

[2020-10-21 17:48] jason-sachs commented on #547
OK, I'll try it out in miniconda3. (or if I keep having headaches I'll try micromamba)

[2020-10-21 18:20] jason-sachs commented on #547
yay, everything seems to work with Miniconda3-4.7.12.1-Windows-x86_64.exe (the last BSD3 installer for Miniconda3)

Thank you guys so much! I was at my wit's end with conda being unusable because of the slowness/errors.

I'll run a couple of tests to make sure all is ok + I can run in my expected python 2 environment, + then I'll close.

[2020-10-21 18:21] jason-sachs commented on #547
ick... spoke too soon, I need to find PySide :/ -- not sure if the problem is mamba or the various repos

[2020-10-21 23:04] olivier-lacroix commented on #543
Thanks @wolfv for the quick fix!

[2020-10-22 08:22] wolfv commented on #547
did it work out? I saw you on gitter, getting the advice to use the old `free` channel?

[2020-10-22 13:30] #545 closed

[2020-10-22 13:30] wolfv commented on #545
done in #546

[2020-10-22 14:53] jason-sachs commented on #547
Yep, works well. I do wish that conda would separate the idea of base/default environment from package-manager environment; I'd like to run python 2.7 in my base/default environment without having to `activate` anything, but use conda/mamba with Python 3 -- actually I don't really care what Python environment it uses as long as it works.

[2020-10-22 14:53] #547 closed

[2020-10-23 11:36] akhmerov opened #549 "Suggestion: provide a canonical docker image"
Taking this over from [twitter](https://twitter.com/wuoulf/status/1319578459673427968).

I would like to propose a "canonical" dockerfile that could be used in CI, analogous to continuumio/miniconda. @wolfv also suggested to build an image from that file and publish it as an action with any new version of microconda.

I'm not yet certain what should go into the said dockerfile, aside of the minima

[2020-10-23 11:41] wolfv commented on #549
We don't even need wget or tar. Just the extracted micromamba binary should be enough (as it comes with libarchive, curl statically linked in).

In the dockerfile we could just `CP micromamba /bin/micromamba` from the host system, for example.

[2020-10-23 18:52] isuruf opened #550 "Run codesign on osx-arm64"
See the PR over at conda https://github.com/conda/conda/pull/10260

[2020-10-24 07:52] adriendelsalle commented on #549
Hi @akhmerov @wolfv !

It could be related to this [similar issue on Quetz](https://github.com/mamba-org/quetz/issues/44#issuecomment-676494489), talking about the way to handle `docker` recipes.

The [draft PR](https://github.com/mamba-org/quetz/pull/60) I started for `Quetz` also questioned about what repo to use for publishing the artefact @SylvainCorlay :
- do you want to store all your images

[2020-10-24 08:14] adriendelsalle commented on #488
Hi @fcollonval , makes me think about [this conda issue](https://github.com/conda/conda/issues/7227#issuecomment-712607506)

[2020-10-24 16:40] #550 closed

[2020-10-26 15:09] isuruf opened #554 "too many open files"
On the DTK (development machine for osx-arm64), we are getting the following error with micromamba inside constructor during linking phase.

[code]

On the DTK, `ulimit -n` is 256. Increasing it makes this operation successful.

cc @erykoff, @beckermr

[2020-10-27 04:33] asford opened #556 "mamba_api.transmute failing with "Could not open archive for reading.""
The mamba version currently available on `conda-forge` (0.6.1) throws an unexpected error from `mamba.mamba_api.transmute` when processing packages. It failed with a "could not open archive for reading" error from: https://github.com/mamba-org/mamba/blob/c7d22ad5803121ee4ceefacfb2272676d952a813/src/package_handling.cpp#L268-L271

even if the input package exists and can be read.

As this is part o

[2020-10-27 06:43] wolfv commented on #556
@asford the API currently expects absolute paths. You can check boa's transmute.py implementation.

[2020-10-28 00:34] michaelaye commented on #513
still the case with

$ mamba --version                                                                                                                                                   (py37)
mamba 0.6.4
conda 4.9.0

on Linux.

[2020-10-28 00:37] michaelaye commented on #534
Is/was this related to #513 ?

[2020-10-28 06:00] isuruf commented on #554
@wolfv, the new `codesign` operation might be the culprit. Maybe `subprocess::check_call` isn't closing file handles properly

[2020-10-28 10:14] wolfv commented on #554
it's possible, I am not very happy with the current subprocess implementation (wanted to change to the one from vcpkg #426 )

[2020-10-28 12:45] traversaro commented on #426
Other related libraries (not sure if they suit all mamba's needs):
* https://github.com/DaanDeMeyer/reproc
* https://gitlab.com/eidheim/tiny-process-library

If https://github.com/osrf/gazebo/pull/2864 gets merged, I plan to add tiny-process-library to conda-forge .

[2020-10-28 14:05] wolfv opened #558 "Add proper API to repoquery"
Add a proper Python API to repoquery. Currently we print to stdout directly, which makes it difficult to further process the output.

[2020-10-28 15:52] 183amir opened #559 "mamba resolves an environment while conda throws a conflict"
I am running this command:
[code]
and conda cannot resolve this environment.
However, mamba can resolve this which is weird.

Usually I use mamba to figure out the source of conflicts but I cannot use mamba to tell you what is wrong this time because mamba seems to resolve this environment! What could be the issue here?

[2020-10-28 17:59] 183amir commented on #559
This may actually be a conda bug! This fails:
[code]
but this works:
[code]

[2020-10-28 19:31] wolfv commented on #559
Ah, pytorch still uses the broken conda track features, which also makes it slightly incompatible with mamba as we don't respect them. There is an open issue for that

[2020-10-28 19:33] #554 closed

[2020-10-29 09:09] 183amir commented on #559
Are conda features deprecated? What should be used instead?

[2020-10-29 10:07] wolfv commented on #559
Mutex packages. Please search the issue I posted more info there and on the pytorch issue I opened

[2020-10-29 11:00] 183amir commented on #559
Could you please tell me which issue? btw I figured that the issue that I'm having here is again this https://github.com/mamba-org/mamba/issues/65 and I can reproduce without pytorch as well.

[2020-10-29 11:02] 183amir commented on #559
Here is a simple command:
[code]
where conda fails but mamba works (mamba shouldn't resolve this environment).

[2020-10-29 11:08] 183amir commented on #559
And I have the latest version of mamba and libsolv installed:
[code]

[2020-10-29 11:16] 183amir commented on #559
I am removing the x264 packages from our channel index in https://gitlab.idiap.ch/bob/bob.devtools/-/merge_requests/177 so you might not be able to reproduce this. Please feel free to copy a x264 tarball from our channel to a temporary channel to be able to reproduce this.

[2020-10-29 15:14] 183amir commented on #559
Actually come to think about it, I was the one to originally propose the idea :D
https://github.com/conda-forge/staged-recipes/pull/363

[2020-10-29 15:57] wolfv commented on #559
:+1: conda history!

So the issue is that libsolv is selecting a (strictly) forbidden package when the package from the allowed pool conflicts?

[2020-10-29 16:20] #521 closed

[2020-10-29 16:20] 183amir commented on #559
Yes, that's the issue. `x264` should not be selected from the defaults channel at all.

[2020-10-30 17:56] FanchTheSystem opened #564 "Failed to get all the deps of imagemagick (and maybe other)"
When trying to install **imagegick**, it failed to find the dependencies on **xorg-libxau**

In an empty env with conda:
[code]

In an empty env with mamba:
[code]

Tested with mamba 0.6.0 and 0.6.1 with conda 4.9.0

Please also note that **imagemagick** depend on **graphviz** and **xorg-libx11**, both depend on **libxcb**, which depend on **xorg-libxau**, which provide the missing  **libXau.so.6*

[2020-10-30 18:30] wolfv commented on #564
What channels and are you using strict priority?

[2020-10-30 18:49] FanchTheSystem commented on #564
For my test I am using this docker image:
https://github.com/FanchTheSystem/docker-mamba/blob/master/Dockerfile

So the channels are conda-forge and bioconda (but I think bioconda is not used for imagemagick)

I have launch a build with 0.6.5 to try with this version

[2020-10-30 20:06] FanchTheSystem commented on #564
![image](https://user-images.githubusercontent.com/882203/97752092-adc9f100-1af3-11eb-9325-bd4a2a72ba4c.png)

[2020-10-30 20:56] s22chan opened #565 "micromamba: channel token injection"
micromamba is ideally used for CI (to avoid downloading a base environment you will throw away).

It can use channel tokens from command line, hidden by envvar via `micromamba create -c https://api.anaconda.org/t/${TOKEN}/channel`, but this doesn't work if you want to use the `-f` flag to recreate a conda env.yml (which may be checked into source control, so it shouldn't embed the token)

mamba re

[2020-10-30 22:16] wolfv commented on #564
Thanks for the detailed bug report! It looks like there might be an issue with transaction ordering...
Can we be sure that no packages from defaults are pulled in?

[2020-10-30 23:14] FanchTheSystem commented on #564
Thank you for the great work with mamba (I should have said this before ;) )

I think you're are right the issue seems to be related to the default channel.

Maybe you have docker installed on your computer, so you can see by yourself the output of :

1.
[code]
Failed with the error reported on my first message.

2.
[code]
Work as expected.

3.
[code]
Work well when conda-forge is forced to be the

[2020-10-30 23:19] FanchTheSystem commented on #564
As you can see in the Dockerfile, I think it is a very common way to install conda and mamba, so maybe it should work without the need to force a channel.

[2020-11-02 13:08] coroa opened #566 "create_default_packages from `.condarc` not respected when creating from environment file"
With `.condarc` containing:

[code]

While `mamba create` will pull in the default packages:
[code]

An environment file with the same contents (ie. `dependencies: - python=3.8`), will not include the default packages listed in `.condarc`:
[code]

This is with `mamba 0.6.4`, `conda 4.8.5`

[2020-11-02 13:57] wolfv commented on #566
does this work with conda?

[2020-11-02 14:03] coroa commented on #564
The linked `Dockerfile` does not follow the [recommended](https://bioconda.github.io/user/install.html#set-up-channels) channel ordering (`conda-forge`, `bioconda`, then defaults) and does not enable [strict](https://conda-forge.org/docs/user/tipsandtricks.html#how-to-fix-it) `channel_priority`, which I suspect is the default for mamba (as it is scheduled for conda 5).

@FanchTheSystem Can you try

[2020-11-02 14:37] coroa commented on #566
I was convinced it would, but a short test shows, it does not. That's a bummer.

I still think it should. There is an issue in the tracker agreeing with me, but it has been sitting idle, since this January: https://github.com/conda/conda/issues/9580 .

Don't know how mamba wants to proceed here then, though.

[2020-11-02 16:37] FanchTheSystem commented on #564
Thank you @coroa I have fixed the Dockerfile, and now it work with every version of mamba 0.6.0 0.6.1 and 0.6.4

There is still something strange, is that conda find a solution when the channel config is not well set, and mamba does not find it.

[2020-11-02 18:57] wolfv commented on #566
Yeah, I could see a flag for this being interesting. As a default, no: environment files are used to recreate exact environments... so this behavior would be very broken when suddenly default packages appear in there.

I am going to close this issue, but feel free to work with upstream conda on implementing this.

Also, you could easily add your default packages to the environment.yml with a bit o

[2020-11-02 18:57] #566 closed

[2020-11-03 11:28] siebrenf commented on #442
I had the same problem. The issue was fixed by removing conda entirely and starting over.

**Cause**
The issue started after interrupting `mamba env create -f environment.yaml`. Either I disconnected from the server while the process was terminating, or I was spamming ctrl+C. So yea... only myself to blame.

**Details**
The error originated within the same json file. Removing and rerunning did not

[2020-11-03 13:54] #564 closed

[2020-11-03 20:33] coroa commented on #564
No, that is not strange, conda's default resolver (for version <5) adds a penalty to channels with lower priority but still allows them, unless you configure it with `channel_priority: strict` to take the package from the highest priority channel in which it appears (no compromises).

Mamba has this strict channel priority by default, ie. by design it forbids penalized solutions of current conda v

[2020-11-03 20:40] coroa commented on #566
Environment files can be used to re-create exact environments, but more often i would argue are used to re-create *compatible* environments.

The default use case for `create_default_packages` are packages like `ipython` or `ipykernel`, that are not necessary for a functioning library or python installation but rather part of how the user wants to interact with it, but yes the work-around of addin

[2020-11-03 23:56] FanchTheSystem commented on #564
Yes I have understand it after my message, it is why I have closed the issue some hour later ;)

[2020-11-05 11:01] kmuehlbauer opened #567 "[micromamba][win] Entry Point issue when creating environment"
Environment creation breaks while linking a `noarch` package (eg.`wheel`).

[code]

Error Source according @wolfv (extracted from gitter chat:

[2020-11-05 13:58] davidbrochart opened #568 "Don't download repodata when creating empty environment"
Creating an empty environment like so:
[code]
fetches the repodata, although it seems it shouldn't have to.

[2020-11-05 14:19] wolfv commented on #490
@alphahmed you should have a clean base environment, only containing conda & mamba, and install other packages (including the large anaconda distribution) in environments.

[2020-11-05 14:19] #490 closed

[2020-11-05 14:20] wolfv commented on #426
@traversaro did you start packaging the tiny-process-library already? I am quite interested as well, as I am having some issues with the current implementation on Windows.

[2020-11-05 14:36] traversaro commented on #426
I was waiting for upstream to merge https://gitlab.com/eidheim/tiny-process-library/-/merge_requests/38 , but that is not strictly necessary, we could start packaging it in any case or keeping that patch local for now.

[2020-11-05 15:11] wolfv commented on #426
@traversaro I checked tiny-process-library and saw that it requires MSYS2.

For now I am trying reproc++ in #569 and it's already better working vs what I had before :)
I think I am going to package reproc for conda-forge -- thanks for the pointers!

[2020-11-05 17:07] luk-f-a opened #571 "mamba ignores requested channel"
hi, we've started using mamba for CI and it's great! thanks for this tool.

There seems to be a problem with the channels. The following environment.yml fails to install `numba==0.52.0rc2` and silently installs `numba=0.51.2` instead because 0.52.0rc2 does not exist in `defaults` or `conda-forge`.

[code]
Conda correctly installs `numba==0.52.0rc2`.
The problem goes away if the numba channel is ex

[2020-11-05 17:35] wolfv commented on #571
What mamba version are you using? This was fixed recently

[2020-11-05 17:42] traversaro commented on #426
To clarify, MSYS2 support in `tiny-process-library` is optional, and it works fine even without MSYS2. In any case, that's not a big problem, both `reproc++` and `tiny-process-library` are small libraries that do one job in a great way, and it will be great to have both of them in conda-forge .

[2020-11-05 17:52] luk-f-a commented on #571
0.5.3

[2020-11-05 18:37] wolfv commented on #571
latest is 0.6.5

[2020-11-05 18:37] #571 closed

[2020-11-05 19:01] wolfv commented on #426
yeah I am trying to get reproc on conda-forge :) https://github.com/conda-forge/staged-recipes/pull/13113

[2020-11-06 02:21] obilaniu opened #572 "Anaconda micromamba 0.6.x not statically linked"
The `README.md` documentation suggests, quote,

But the binary obtained from the latest package is not statically linked;  In fact, `readelf -d` reports

[code]

Either the documentation is wrong, or the Anaconda recipe is wrong.

[2020-11-06 06:43] wolfv commented on #572
All other libraries (curl, libarchive, libsolv,...) are in fact statically linked as you can see.

These are libraries that we require from the host system. I think this was the pattern I found with other statically linked executables, too, and it has worked quite well so far.

The only issue is running on alpine Linux which uses musl libc.

[2020-11-06 06:58] obilaniu commented on #572
Okay, but _"It's completely statically linked, which allows you to drop it in some place and just execute it."_ suggests that it's entirely self-contained and could be run standalone on any capable Linux kernel. If that isn't true, I'd alter the README to say something to the effect of _"most dependencies are statically linked, and we only require Glibc plus base system libraries"_.

[2020-11-06 08:37] wolfv commented on #572
@obilaniu have you seen "fully statically linked" executables that link all of these libraries? I was under the impression that it's not done, usually.

E.g. https://stackoverflow.com/questions/57476533/why-is-statically-linking-glibc-discouraged#:~:text=The%20most%20important%20reason%20why,C%20library%2C%20that's%20no%20problem.

But yeah, we can change the readme to mention that we only run on

[2020-11-06 08:52] obilaniu commented on #572
@wolfv It's rare to see fully statically-linked executables, but they do exist, and most often in a "bootstrap" context; This is why I was initially very excited by micromamba's description. If micromamba still relies on certain "base" libraries, it's more fragile, particularly if it is being compiled on a machine with a very new Glibc and is then copied to a machine with an older Glibc.

In fact,

[2020-11-06 09:07] wolfv commented on #572
interesting!
We compile on the conda-forge infrastructure which makes sure that we do support relatively old distributions (Centos 6 & OS X 10.12, and I think Windows has a better back-compat story).

I am not sure about the license implications but we're also quite interested in keeping the binary size as small as possible, so leaving out these libraries helps with that.
So far we have had a pret

[2020-11-06 09:19] traversaro commented on #572
One thing that I miss is that even with micromamba supported running on system based on  musl libc, without conda channels that provide musl binaries (if I am not wrong), what is the use of micromamba? For example Julia's BinaryBuilder/Yggdrasil/ support musl binaries, but they are treated as a completely different architecture, see https://github.com/JuliaBinaryWrappers/XML2_jll.jl/releases/tag/X

[2020-11-06 09:22] wolfv commented on #572
indeed, we could treat musl like we do with linux-arm64... it could be linux-musl-x64 etc.

Theoretically, it would be straightforward to have support in mamba/conda/micromamba. But it would add an additional entry to the build matrix and I am not sure wether it's worth it or not.

However, with boa-forge (github.com/mamba-org/boa-forge) we aim at building out a source-distribution. In that contex

[2020-11-07 00:46] #503 closed

[2020-11-07 04:34] obilaniu commented on #572
@wolfv The remaining libraries still being dynamically linked to are mostly C library-related.

The [musl C library](https://www.musl-libc.org/intro.html) is liberally-licensed and lightweight, which is why containers frequently use Alpine Linux + musl.

If you were to statically link against musl-libc you would be able to safely copy and run the resulting `micromamba` on any distro, even on Glibc

[2020-11-07 09:29] wolfv opened #575 "post-link scripts try to use conda's hook with micromamba"
We need to change the first line to use the micromamba hook in the generated script.

[2020-11-07 13:24] wolfv commented on #572
If you have a prototype for this id be happy about a PR :)

[2020-11-08 08:58] obilaniu commented on #572
@wolfv @traversaro The attached [Singularity.txt](https://github.com/mamba-org/mamba/files/5506025/Singularity.txt) recipe file, in conjunction with the Singularity 3.6.4 container technology, currently builds a **6.9 MiB fully-statically-linked `/usr/bin/micromamba`** (>30% smaller than the current dynamically-linked Anaconda build) that is capable of `micromamba create`'ing the build environment

[2020-11-08 09:55] traversaro commented on #572
Thanks @obilaniu, this is quite interesting. For the trailing `-Wl,-Bdynamic` problem in CMake, perhaps setting the [`CMAKE_LINK_SEARCH_END_STATIC`](https://cmake.org/cmake/help/v3.18/variable/CMAKE_LINK_SEARCH_END_STATIC.html#variable:CMAKE_LINK_SEARCH_END_STATIC) CMake option at the CMake invocation to `ON`  could help.

[2020-11-08 14:38] wolfv commented on #572
Wow this is interesting!

I'm planning to refactor our cmake soon. Hopefully we can get support for a fully static micromamba into our configurations

[2020-11-09 04:01] obilaniu commented on #572
@wolfv @traversaro You were right - in the end I used the related `set_target_properties(micromamba PROPERTIES LINK_SEARCH_END_STATIC ON)` to solve my link problems.

So with the following [Singularity.txt](https://github.com/mamba-org/mamba/files/5507935/Singularity.txt) recipe, the #572 patch has been removed since it's already merged, and instead there are three patches against `CMakeLists.txt`

[2020-11-09 06:18] wolfv commented on #572
Thanks @obilaniu for exploring this!

I wanted to point out some additional work I have been doing: in [boa-forge](https://github.com/mamba-org/boa-forge) I am gathering (new-style, "boa") recipes to bootstrap micromamba from. One interesting feature about these recipes is that they can have "features" (which are compile-time features). E.g. it's possible to add/remove unused compression algorithm

[2020-11-09 08:26] wolfv commented on #498
Hi @maresb

sorry for getting back to you only so late. The best instructions are probably in the `.github/main.yml` file, but it's still a little cumbersome. I hope to be able to improve & simplify our CMake today.

In fact, I am working on your requested feature in #569. With that PR, executing `conda shell hook -s bash` will print a shell hook even without prior shell init.

[2020-11-09 09:00] maresb commented on #498
Hi @wolfv, that's very exciting! In my scripts I'm still parsing the `.bashrc` for the hook, and would very much like to clean that up. Thanks so much for your work!

[2020-11-09 10:46] wolfv commented on #498
yep, I think after my PR is done, the usage of micromamba in CI's will be even cleaner.

[2020-11-09 14:11] beckermr opened #577 "solver is hanging"
It appears the solver is hanging on this env

[code]

This code snippet is from regro/cf-scripts.

cc @wolfv

[2020-11-09 16:57] davidbrochart opened #578 "Creating environment from yml file installs in root"
It looks like:
[code]
ignores the environment name and always installs in the root environment.

[2020-11-09 20:31] ocefpaf opened #579 "Implemented the python pinning that is done in conda & mamba in micromamba"
When creating envs with "mamba create --name python 3.9 --file req.txt" the python pinning is not respected.

[2020-11-09 22:05] beckermr commented on #577
Closing. This was a really long solve and we fixed it another way.

[2020-11-09 22:05] #577 closed

[2020-11-10 02:50] beckermr opened #580 "timeout on solver"
We've been having trouble with really long solves. We are not sure why, but a timeout option would be useful. I tried from python but I could not get it to work, probably due to the solver being down in C++.

[2020-11-10 02:50] beckermr commented on #580
cc @wolfv

[2020-11-10 12:16] wolfv commented on #513
Are you using strict channel priority (strongly recommended for conda-forge)?

[2020-11-10 16:47] michaelaye commented on #513
why does that matter if strict feature equivalency is a premise of `mamba`? Unless it's not, but that's how I would interpret "drop-in replacement". Currently `mamba` is not a drop in replacement as it behaves very different, in an environment-breaking fashion. The alternative of course is to restrict the scope of `mamba` to a certain feature subset with certain required configurations. But then t

[2020-11-10 18:02] wolfv commented on #578
I have this yaml file that I test with:

[code]

using

`mamba env create -f testenv.yml`

And it works fine.

Are you sure you didn't do `mamba create -f environment.yml`? That command doesn't understand yaml files.

[2020-11-10 18:02] #578 closed

[2020-11-10 18:08] #575 closed

[2020-11-10 18:09] wolfv commented on #426
we've completed the transition to reproc for now. Hopefully it works well enough and I never have to touch this again :sweat_smile:

[2020-11-10 18:11] pjb7687 opened #581 "can't restore time"
When conda environments are installed in a remotely mounted directory, e.g. via sshfs, mamba randomly gives following error during `mamba install (package)`.

[code]

[2020-11-10 18:13] wolfv commented on #581
interesting. Are both your packages cache, and the target environment on the remotely mounted directory?

[2020-11-10 18:16] wolfv commented on #581
this forum post says that this should be handled as a warning instead of a error / hard failure.

http://cmake.3232098.n2.nabble.com/Problem-with-archive-write-finish-entry-Can-t-update-time-td5962489.html

Do you want to make a PR for this? That would be great!

[2020-11-10 18:16] #426 closed

[2020-11-10 18:22] davidbrochart commented on #578
I just tried and I don't have the same behavior as before, meaning it works fine but it seems to use conda under the hood. I can recognize it because of:
[code]

[2020-11-10 18:24] wolfv commented on #513
The conda-forge.org homepage states quite clearly that one should use strict-priority :)

But I think your channel priorities are mixed up regardless. I haven't really tested the stacking of multiple condarc's and have hoped that conda would handle that nicely for us.
You can inspect the assigned priorities by adding `-v` to the mamba command.

Also this is where the channels are loaded. Would be

[2020-11-10 18:46] wolfv commented on #498
Okay, with the latest changes it's possible to do

`eval "$(./micromamba shell hook -s posix)"`

I am documenting this right now.

Micromamba also assumes a default "root prefix" in `~/micromamba` now which shoudl further help in the CI use-case.

[2020-11-10 18:46] #498 closed

[2020-11-10 18:46] wolfv commented on #498
similarly on PowerShell one can do `micromamba shell hook -s powershell | Out-String | Invoke-Expression`

[2020-11-11 04:12] michaelaye commented on #513
I'm sorry, can you provide a full command I'm supposed to call, so far I'm getting this (apparently, by default my env channel setup is ignored?):

[code]

I would be surprised if my channel priorities are "mixed up", because I am using a very straight forward setup that, IIUC, is fully supported (apart from the recent addition of channel_priority, my work-around for this always has been channel-b

[2020-11-11 07:41] wolfv commented on #513
Thanks, yeah I can check out this use case!

This is how to get verbose debugging output:

[code]

This prints a lot. If you pipe it through grep to get only the Channel stuff:

[code]

High prio => Higher number
First number is priority for strict priority, and second one is "subpriority" that should decide in draws.

Channel: https://conda.anaconda.org/robostack/linux-64, prio: 0 : 8
Channel: ht

[2020-11-11 08:38] michaelaye commented on #513
I'm getting this:

[code]
with this setting:
[code]
Note, I added `conda-forge` to the main condarc for debugging purposes.
This seems wrong? Conda-forge and and pkgs/main should not have the same priority like this? Unless you are really not supporting mamba to work without setting `channel_priority`, because it looks correct in that case:

[code]

[2020-11-11 08:41] michaelaye commented on #513
But yeah, `channel_priority` does not help with `mamba` completely ignoring the environment condarc:

[code]

[2020-11-11 08:46] michaelaye commented on #513
BTW, you used the term `stacking` before. I'm not sure conda uses that for applying nested condarcs. In any case, it's a loaded term for actually stacking the PATHs of different conda envs, using `conda activate --stack <env_name>`, but most likely you know that. Just wanted to make sure there's no confusion here.

[2020-11-11 09:31] obilaniu commented on #572
@wolfv I have updated my [Singularity recipe](https://github.com/mamba-org/mamba/files/5523066/Singularity.txt) after your changes earlier today. They introduced new dependencies and I therefore needed to update my patches.

Particularly noteworthy is that you are now statically linking `libreproc++.a`, but I believe you're missing `libreproc.a`, on which `libreproc++.a` depends.

It turns out tha

[2020-11-11 11:56] wolfv commented on #572
awesome! yeah, we have some important improvements for the upcoming release, including the usage of reproc. I also repaired that same issue this morning.
I am going to try to put out a new release of micromamba today, and then we can see how to integrate your ideas with our tools.

[2020-11-12 14:35] wolfv commented on #578
yeah that's true, one of the big "warts" of conda is that `conda env` and `conda create` are two completely seperate things. `conda env` is implemented in a seperate module, and we actually have to do another monkey patch to make mamba work with it:

[2020-11-12 14:35] wolfv commented on #578
https://github.com/mamba-org/mamba/blob/master/mamba/mamba_env.py#L102

[2020-11-12 14:45] #568 closed

[2020-11-12 15:18] davidbrochart commented on #578
Maybe we could rewrite so that it uses mamba? In the end it is just a sequence like:
- `mamba create -n testenv`
- `source activate testenv`
- `mamba install all_the_dependencies`

[2020-11-12 15:21] wolfv commented on #578
it's using mamba for the solving part, but not for the installation part right now.
I think that's "good enough" right now. For micromamba, we already have a completely new way to read yml environment files, and the API is less confusing (IMO).

[2020-11-12 19:31] pjb7687 commented on #581
The whole conda installation is on the remote side. The target env is definitely on the remote but I have no ideas regarding the cache.

[2020-11-12 22:34] olivier-lacroix opened #586 "Mamba 0.7 crashes on windows"
Hi there,

Since updating to mamba 0.7, I have a traceback:

[code]

[2020-11-12 22:56] wolfv commented on #586
Thanks!
I just tried on Windows, Python 3.7 seems to be fine. What version of Python are you on?

[2020-11-12 22:59] #581 closed

[2020-11-12 23:03] wolfv commented on #586
I just tried on Win 10, with a fresh Miniconda 3 (Python 3.8) installation and couldn't reproduce.
Sorry!
Can you post a `conda list`?

[2020-11-12 23:42] olivier-lacroix commented on #586
Sure

[code]

[2020-11-12 23:49] olivier-lacroix commented on #586
I have the same issue after upgrading to python 3.8

[code]

[2020-11-13 03:09] dhirschfeld commented on #586
`mamba` 0.7 seems to work fine for me. I suspect a failed upgrade, most likely due to Windows holding references to DLLs preventing them being deleted/updated during an install. On Windows, you're much safer if you make sure no python processes are running at the same time as you do an update.

If that is the case then your package cache is corrupt and you need to remove all traces of `mamba` befo

[2020-11-13 03:36] olivier-lacroix commented on #586
Thanks @wolfv and @dhirschfeld for your answers.

@dhirschfeld , what you propose does not change a thing unfortunately. I still end up with the same traceback.

[2020-11-13 03:39] dhirschfeld commented on #586
Yeah. I actually just ran into this in a Windows container so it does point to some issue with `mamba` on Windows :(

I can't dig into it just yet but will try to have a look this weekend...

[2020-11-13 03:40] olivier-lacroix commented on #586
Ah! Not sure if this is a good or a bad thing :-D !

Thanks @dhirschfeld !

[2020-11-13 10:23] wolfv commented on #586
I tried really hard to reproduce the issue:

I used

mamba install -c conda-forge --strict-channel-priority brotlipy=0.7.0=py38hab1e662_1001 bzip2=1.0.8=he774522_3 ca-certificates=2020.11.8=h5b45459_0 certifi=2020.11.8=py38haa244fe_0 cffi=1.14.3=py38h0e640b1_1 chardet=3.0.4=py38h9bdc248_1008 conda=4.9.2=py38haa244fe_0 conda-package-handling=1.7.2=py38h8934438_0 console_shortcut=0.1.1=4 cryptograph

[2020-11-13 11:19] habemus-papadum opened #587 "Ability to Remove Mamba Banner?"
Hi -- Is it possible to not print the mamba banner on every invocation?
[code]

The following:
`mamba list --explicit > test.txt` produces an invalid file because it contains the banner the very top.

Thanks for the great work!

[2020-11-13 11:22] wolfv commented on #587
yeah, good point! do you want to put in a PR to disable banner printning with `list`?

[2020-11-13 11:27] habemus-papadum opened #588 "Ability to solve for a different environment?"
Hi,

Is there a way to "solve packages" for an architecture different than the host machine on which mamba is running? Ideally, there would be some command like:

[code]

that could be run on MacOS and produces an output similar to `conda list --explicit`

[2020-11-13 11:28] habemus-papadum commented on #587
Sure- I'll give it a shot

[2020-11-13 11:37] wolfv commented on #588
hey, yeah, that's possible with a weird-ish syntax (same as conda):

`CONDA_SUBDIR=linux-64 mamba create -n test --dry-run --json package-channel-stuff`

This functionality is used in conda-lock: https://github.com/conda-incubator/conda-lock to produce lock-files for multiple platforms. I think that's the project you might be looking for :)

[2020-11-13 11:40] habemus-papadum commented on #588
Yup!  that's exactly where I was going.  thanks

[2020-11-13 11:40] #588 closed

[2020-11-13 12:27] wolfv commented on #586
Okay, I was able to recreate it in a container.

I used stefanscherer/chocolatey, then installed `choco install miniconda3`, used that to install `conda install mamba -c conda-forge --strict-channel-priority` and running `mamba create -n tense xtensor -c conda-forge` crashes with the same issue.

[2020-11-13 18:54] ocefpaf commented on #509
@wolfv we should close this one, right?

[2020-11-13 19:24] isuruf commented on #586
To debug this, run `depends.exe` on the conda activated environment and see if the `mamba_api.pyd` file gives errors when loaded in `depends.exe`

[2020-11-13 20:35] wolfv commented on #509
Yeah i need to check if we do the right stuff in mamba itself. At least this works in micromamba now :)

[2020-11-14 04:07] olivier-lacroix commented on #586
@isuruf , it does. but so does it for version 0.6.4 so I may be doing something wrong here...

[2020-11-14 05:13] dhirschfeld commented on #586
Since I could repro in a `miniconda` container I tried with one which includes the vs buildtools so I could use the `dumpbin` utility:
[code]

...unfortunately in this container `mamba` works just fine :/

[2020-11-14 11:00] wolfv opened #589 "[micromamba] allow pip in env.yml files"
We should also add support for `pip` in environment yml files.  cc @ocefpaf

More generally, we could think about supporting arbitrary other package managers.

We could have a format where people can add a templated command line that will be used to install packages from keys, e.g.

[code]

We might also want to have an installation order, so maybe evaluate the installers at the place where they a

[2020-11-14 11:51] wolfv commented on #586
Ok i managed to use Dependencies.exe (the new kind of depends.exe) from choco in the container. Unfortunately can't really copy from the terminal :/

At the end it seems to look for MSVCP140**D**.dll an other `*d` libs. Could it be that these are debug versions of the libraries? That would explain why it works on some machiens. Or is this related to `/MD` vs `/MT`?

![image](https://user-images.gi

[2020-11-14 12:09] wolfv commented on #586
looks like I forgot to add `-DBUILD_TYPE=Release` here: https://github.com/conda-forge/reproc-feedstock/blob/f5da9d45807c5bb739c30cdab530145242756f5d/recipe/bld_c.bat#L11-L18

so that it apparently links to debug libraries. What do you think @dhirschfeld ?

[2020-11-14 12:13] dhirschfeld commented on #586
Yeah, I don't think it should be depending on the debug libraries! I'm no expert in C++ or CMAKE but the fix *sounds* right...

[2020-11-14 12:55] dhirschfeld commented on #586
That would also explain why it worked on my desktop and in a container with all the dev tools installed but failed in a vanilla container

[2020-11-16 09:08] wolfv commented on #586
Hmm, I have to say ldd in cygwin might be my favorite:

[code]

Anyways, I fixed the reproc recipe and going to make a new release shortly! Hopefully mamba won't crash anymore after that.

[2020-11-16 14:54] wolfv commented on #586
@olivier-lacroix could you try again with mamba 0.7.1? Thanks!

[2020-11-17 02:12] asford commented on #556
Thanks for the clarification. I've tried to execute this via boa, which runs but appears to spin-lock in a call to libarchive. Would you mind doubling-checking this repro/invocation to see if I'm using the API as expected?

# Repro Script via `boa`

[code]

# Perf-top trace of spinning `boa` process
[code]

[2020-11-17 03:49] olivier-lacroix commented on #586
@wolfv , I can confirm it is resolved with 0.7.1
Thanks all for diagnosing and solving this issue this quickly!

[2020-11-17 07:54] wolfv commented on #556
thanks @asford this might be an issue with e.g. symbolic links in the package. I'll have a look.

[2020-11-17 16:10] wolfv commented on #556
I am going to make a release tomorrow, most likely. Thanks again.

[2020-11-17 16:10] #556 closed

[2020-11-17 16:29] asford commented on #556
Thank you for the quick analysis and fix!

[2020-11-18 03:10] TwelfthGhast commented on #587
You can currently suppress this with `--quiet` right?

[2020-11-18 06:28] THZ34 opened #594 "undefined symbol: curl_url_cleanup"
An error has happened after I running 'conda update --all'
$mamba
Traceback (most recent call last):
  File "/software/anaconda3/bin/mamba", line 7, in <module>
    from mamba.mamba import main
  File "/software/anaconda3/lib/python3.8/site-packages/mamba/mamba.py", line 52, in <module>
    import mamba.mamba_api as api
ImportError: /software/anaconda3/lib/python3.8/site-packages/mamba/mamba_api.c

[2020-11-18 06:38] wolfv commented on #594
can you show a `conda list` and what channels you use?

[2020-11-18 06:38] wolfv commented on #594
specifically what version of curl do you have now?

[2020-11-18 12:11] wolfv opened #596 "[micromamba] set root ca for windows and OS X"
we currently set some custom root certificate locations for different Linux distros in main.cpp, but not yet for Windows or OS X.

[2020-11-18 12:14] wolfv commented on #596
which effectively disable SSL verification on those system.

[2020-11-18 12:24] dhirschfeld commented on #596
Related? https://github.com/mamba-org/mamba/issues/530

[2020-11-18 12:44] wolfv commented on #596
Interesting! For micromamba, we do explicitly set some paths here: https://github.com/mamba-org/mamba/blob/d44d945d2e3b56fd1f77e85e6764c98a9505d0b0/src/micromamba/main.cpp#L169-L177

To make curl look into those for CA certificates. I saw that there is some Windows Registry entry for certificates, but yes, the better idea might be to link with a OpenSSL that was build against sschannel and not hav

[2020-11-18 12:46] wolfv commented on #596
Also of note is that from what I saw on StackOverflow, there are no CA Certificates easily available on OS X ... except for in the keychain but no idea if we can use that with curl.

[2020-11-18 12:59] dhirschfeld commented on #596
On Windows, (self/company signed) certificates are added to the Windows Certificate Store which is only accessible via the schannel interface (IIUC).

Our internal repo server uses a company-signed certificate which isn't in any `ca-certificates` bundle so SSL fails without using schannel.

[2020-11-18 13:02] dhirschfeld commented on #596
As I type that I recall that you can make `certifi` work with the Windows Certificate Store via some black magic:
https://gitlab.com/alelec/python-certifi-win32

...I'll check it that works for `mamba`. Still, on Windows it would be nice for it to Just Work out of the box if enabling schannel isn't too painful.

[2020-11-18 13:06] dhirschfeld commented on #596
In case it's interesting there's a fair bit of discussion over in:
https://github.com/psf/requests/issues/2966#issuecomment-724123540

[2020-11-18 14:58] wolfv commented on #499
micromamba on Windows has drastically improved with 0.7.0 :) I am going to close this for now. Always happy to get more feedback & testing

[2020-11-18 14:58] #499 closed

[2020-11-18 14:59] wolfv commented on #485
We have a CHANGELOG file in the root of the repo now. Thanks for raising this issue!

[2020-11-18 14:59] #485 closed

[2020-11-18 15:04] wolfv commented on #481
ok, I can see this issue a little clearer now. conda actually does this, as the `"conda"` command is in fact a bash-function that is invoked, and that behaves differently when activating vs. installing.
So when you have used `shell init` with conda, and install something with conda (or micromamba, in fact), it will automatically re-hash your shell: https://github.com/mamba-org/mamba/blob/d44d945d2

[2020-11-18 15:05] wolfv commented on #542
You can find the barebones docs at mamba.readthedocs.io

We can always use more docs. But I am still going to close this for now.

[2020-11-18 15:05] #542 closed

[2020-11-18 15:07] wolfv commented on #54
Most of the promises here became true this year :rocket:

Going to close this. Will publish a blog post with ideas for next year at some point.

[2020-11-18 15:07] #54 closed

[2020-11-18 15:08] wolfv commented on #461
Done!

[2020-11-18 15:08] #461 closed

[2020-11-18 15:09] wolfv commented on #448
@ericmjl I haven't seen an error report like this in a long time so I am assuming that the recent builds of mamba work fine.

[2020-11-18 15:09] #448 closed

[2020-11-18 15:10] hadim commented on #54
Thanks, @wolfv. mamba is a fantastic tool that I now use as a full replacement of conda. This project is gold!

[2020-11-18 15:28] wolfv commented on #157
conda-lock supports both mamba and micromamba now, so I think we can close this.
I am not super motivated to add conda-lock functionality into mamba itself right now, because I don't have a use-case myself, and conda-lock already exists and does an excellent job.

[2020-11-18 15:28] #157 closed

[2020-11-18 15:29] wolfv commented on #79
as mentioned in the last comment, `conda mambabuild` can be installed by installing boa (which is also on conda-forge now: `mamba install boa -c conda-forge`).

Lots of other exciting developments going on over at boa, btw! For example, interactive fixing of recipes & patching, source rebuilds, compile time features exposed in the boa command line...

[2020-11-18 15:29] #79 closed

[2020-11-18 17:16] mezhaka commented on #442
Same problem.  It might be that I ran out of space on / while `mamba env create`.

[code]

reinstalling miniconda helped

[2020-11-18 17:26] #520 closed

[2020-11-18 17:26] wolfv commented on #520
this was fixed in 0.7.0

[2020-11-18 17:27] #467 closed

[2020-11-18 17:28] #408 closed

[2020-11-18 17:28] wolfv commented on #408
haven't heard about this in a while

[2020-11-18 17:36] maartenbreddels commented on #408
Yeah, seems to be working now

(from mobile phone)

On Wed, Nov 18, 2020, 18:28 Wolf Vollprecht <notifications@github.com>
wrote:

[2020-11-18 18:19] asford opened #598 "[micromamba] micromamba can't read .yml files without name entries"
Micromamba supports environment.yml files. 🥳 Killer feature!

We frequently use `environment.yml` files to specify reproducible environments that only include `dependencies` and `channels` entries. This works with `conda env create` with explicit `--prefix` and `--name` overrides. However, in `micromamba` this throws a somewhat-hard-to-understand `YAML::TypedBadConversion` error.

I *think* the ex

[2020-11-18 18:20] wolfv commented on #598
PR's welcome! :)

[2020-11-18 18:29] asford commented on #598
Notes for future self:

The YAML read error is being thrown at:

https://github.com/mamba-org/mamba/blob/0.7.2/src/micromamba/main.cpp#L874

This can be fixed by checking [`if (config["name"])`](https://github.com/jbeder/yaml-cpp/wiki/Tutorial).

`create_options` has already been partially populated from the command line, so we can bypass `name:` parsing if already specified.

[2020-11-18 22:58] asford opened #599 "[micromamba] Support transmute?"
_Mostly a check if you'd be open a PR on this._

The `transmute` implementation in `boa` is pretty thin, and could be ported to micromamba. A statically-linked and performant `transmute` implementation would be very useful to help build package caching pipelines.

Would you be open to adding `transmute` to the micromamba cli?

[2020-11-19 09:06] wolfv opened #600 "[micromamba] implement `list --json`"
We need to implement the `--json` flag for list, so that conda-lock is happy.

[2020-11-19 09:11] wolfv commented on #599
Howdy!

I am not entirely convinced that micromamba is the right place for this, and I am also unsure wether this would increase the binary size or not. Hypothetically, currently we should be able to `strip` all functions for writing archives when linking micromamba.

But I think writing a standalone tool, similar to conda-package-handling, based on libmamba, linked statically or not, would be awe

[2020-11-20 05:28] THZ34 commented on #594
Thank you for your reply, the following is the information about mamba and curl.
mamba                     0.7.1            py38hc157fb9_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
curl                      7.26.0                        1    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free

[2020-11-20 09:22] wolfv commented on #594
That should really not be possible since mamba requires a version of libcurl >=7.71 ... How did you install mamba?
Also, it's advised to not mix packages from anaconda-default channel and conda-forge like this.

[2020-11-20 09:29] wolfv opened #604 "switch to std::sorted_map for PrefixData"
We could switch to an std::sorted_map in PrefixData, and that would help to remove some manual sorting in micromamba.

[2020-11-20 09:29] #594 closed

[2020-11-20 09:57] THZ34 commented on #594
Ok, I will update my curl, thanks again.

[2020-11-20 09:58] adriendelsalle opened #605 "Activation issue on Windows caused by whitespaces in path"
Hi !

I'm facing an activation issue on Windows.
It is probably due to whitespaces in my path entries, such as `C:\Program Files (x86)\some_dir`.

It looks like related to this [part](https://github.com/mamba-org/mamba/blob/457fbda0c6157b99220099494b9bde24f16571b1/data/_mamba_activate.bat#L22).

If I just add quotes around the command, it works:
[code]

Are you able to reproduce?
I will be happy t

[2020-11-20 10:05] wolfv commented on #605
Hi, thanks for opening this issue. Yes, that sounds like a problem!
I think there is a way to get a shortened, space-free path on Windows. Here is the code where I exctracted these functions from:

https://github.com/conda/conda/blob/e5a596438122ae15347aec16a2370423d7917b46/conda/shell/condabin/_conda_activate.bat#L12-L23

Note that conda doesn't use the `MAMBA_ROOT_PREFIX` stuff, but rather finds

[2020-11-20 10:12] adriendelsalle commented on #605
Thanks for your reply @wolfv !
I should have opened a draft PR.

Let's dig a bit this question before using my (too?) simple fix!

[2020-11-20 10:12] wolfv commented on #605
nope, I think your fix is fine. Sorry, didn't properly read the entire message.

[2020-11-20 10:13] wolfv commented on #605
I fixed a similar thing with the same technique last week :) cmd.bat is the worst.

[2020-11-20 10:14] adriendelsalle commented on #605
I couldn't disagree ;)

[2020-11-20 10:19] #605 closed

[2020-11-20 10:52] adriendelsalle opened #607 "Linking phase error"
Hi!

I get a linking error when installing `cosapp` from conda-forge, during the compiling stage (generation of `.pyc` files).
In fact it comes from a `.py` file that is indeed a `jinja2` template. It should be fixed on the `cosapp` project repo.

[code]

But I have 2 questions about that :
- Is this error interrupt the linking process or not (for all the packages but also for the current one)?
-

[2020-11-20 10:59] wolfv commented on #607
hey,

when you install a noarch package, conda / mamba compiles all `.py` files to `.pyc` files, and adds them to the list of installed files (so that when you remove the package it will remove the `.pyc` files as well.

So if this compilation fails for a file or two, it should not matter and linking should just continue... does it continue?

It woudl be good to investigate if we're recording the

[2020-11-20 11:13] adriendelsalle opened #608 "Stages verbosity"
Hi!

A simple question about verbosity.

At this time I use the `-q` flag to reduce verbosity. In that case I don't receive anymore info about the "linking" stage but still have the package plan output.
I would have expected maybe to have nothing displayed. Is this a description of a `silent` mode and not a `quiet` mode?
In that case the `quiet` mode should only display major stages?

Default leve

[2020-11-20 11:21] adriendelsalle commented on #607
Hi @wolfv. Thanks for your reply!

It looks like the env is not broken and working as expected. It should be confirmed by a more intensive use.
Since we can see others packages "linking", they should be fine.

Why doing this generation only for noarch packages? Platform specific packages could also contain `.py` files that we would like to "compile". I am missing a point?

What is your opinion abo

[2020-11-20 12:08] wolfv commented on #607
The error doesn't come from us, but it's a Python error. So may be hard to catch.

Platform specific python packages have the pyc files inside the package already

[2020-11-20 12:11] wolfv commented on #608
In general we tried to stay somewhat close to how conda operates. I think they also display the transaction in quiet mode.

But having a second pair of eyes thinking deeply about what to display when would be great and there is definitely room for improvement!

[2020-11-20 12:50] adriendelsalle commented on #608
It keep this in mind and will propose something more detailed in the coming weeks

[2020-11-23 08:46] tstenner commented on #587
Or [`--no-banner`](https://github.com/mamba-org/mamba/blob/57b7edec6387f55dc7e8bb75264036914c7e467d/mamba/mamba.py#L816).

[2020-11-23 11:00] ericdill opened #610 "magic-wormhole: conda create works, mamba create fails"
Hey @wolfv,

Came across a situation where the `mamba create -n wormhole magic-wormhole -y` appears to create an environment properly, but `python -c "import wormhole"` fails. `conda create -n wormhole2 magic-wormhole -y` produces an environment where `python -c "import wormhole"` works. Figured you might want to dig into this one a bit? Feel free to close if you're not interested!

[code]

Steps

[2020-11-23 12:20] wolfv opened #611 "Refactor how & where pkgs cache is passed"

[2020-11-23 19:17] wolfv commented on #610
hey,thanks

we can debug the solutions using `-vvv`. Now we can see why the solver does what.

Interestingly, we can see:

[code]

that for pynacl 1.4 we only got python 3.6 builds. weird! That's why mamba chooses python 3.6 since it's  a backtracking solver and nothing constrains python otherwise.

Okay, I am getting called to dinner right now -- will have to debug this further later on.

[2020-11-23 19:19] wolfv commented on #610
actually what I wrote up there isn't true as conda / mamba search show versions of pynacl for python 3.8 and 3.9... I need to investigate :)

[2020-11-26 11:03] kmuehlbauer opened #612 "micromamba and caching pkgs-folder"
For work with CI it is often desirable to cache the `pkgs` folder. Normally only the archives (tar.bz2) are cached.

When doing this and trying to create a new environment micromamba breaks. Packages resolving works nice, it also detects that no package needs to be downloaded, but then it breaks with the below error.

[code]
Copy from gitter chat @wolfv:

As a workaround for caching one can remove

[2020-11-26 12:43] sackh commented on #34
is this fixed for Windows? I am still getting this error.

[2020-11-26 13:13] wolfv commented on #34
yep, should be fixed on windows, too.

What version do you have? Did you run `conda init`?

[2020-11-27 06:46] adriendelsalle commented on #612
Hi!

I can confirm that in others situations such as a process interruption when downloading and unpacking, when you will try to resume by launching again micromamba the same errors occurs: status of packages are `cached` and the linking step will just fail silently in my case.

I will add more details to reproduce soon.

[2020-11-27 08:09] sackh commented on #34
I am using the latest version. I did try conda init but still the same error.

[2020-11-27 09:19] wolfv commented on #34
can you post `conda info` and the contents of your base env `condabin` folder?

[2020-11-28 07:28] sackh commented on #34
sorry for the late reply. It is working now, after reinstall.

[2020-11-29 16:02] beckermr opened #613 "[micromamba] strict channel prriority"
I am pretty sure micromamba is not respecting strict channel priority in condarc files.

[2020-11-29 17:39] wolfv commented on #613
No, micromamba isn't yet reading the condarc file.

You can pass --strict-priority though.

Since we have the yaml-cpp based yaml parser now, we should be able to add this functionality quite easily though.

[2020-11-29 23:16] beckermr commented on #613
Thanks @wolfv! This command line switch works well enough for me now.

[2020-11-30 08:33] wolfv commented on #613
sorry I think it's `--strict-channel-priority` (like conda).

[2020-11-30 10:37] slamer59 opened #614 "[micromamba] Use of condarc ? Workaround ?"
Hello,
I am using artifactory and I read that micromamba does not use condarc.

https://github.com/mamba-org/mamba/issues/613#issuecomment-735429444

How to define other channel ?

Regards

[2020-11-30 10:47] wolfv commented on #614
you can define other channels from the command line (e.g. `-c conda-forge`) (or send a PR to add condarc reading to micromamba).

[2020-11-30 12:05] beckermr commented on #613
No worries! I wrote this in github actions in case you were not aware @wolfv.

https://github.com/beckermr/provision-with-micromamba

Happy to move the repo to mamba-org if that is of interest to you!

[2020-11-30 12:27] wolfv commented on #613
that's cool!

I think it'd be great to have a github action like that under `mamba-org` :) We should be able to add some more config, right? (e.g. add a github-yaml option for the environment file to select etc.?

[2020-11-30 12:32] beckermr commented on #613
Great! It has an `environment-yaml` option already but yeah we can def add more config.

I'll start the transfer. Can you add me to the mamba-org so I can retain write access to the repo?

[2020-11-30 12:33] wolfv commented on #613
yes for sure!

[2020-11-30 12:37] beckermr commented on #613
I guess I'll the permissions to make public-repos? Github is so weird sometimes. It is giving me the error: `You don’t have the permission to create public repositories on mamba-org`

[2020-11-30 12:40] wolfv commented on #613
hmm, can you make it private, and I'll make it public right after?

[2020-11-30 12:44] beckermr commented on #613
I don't think so. The github docs say

https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/transferring-a-repository

I will transfer it to you and then you can put it in mamba-org and add me as an admin to the repo afterward.

[2020-11-30 12:52] wolfv commented on #613
Done! https://github.com/mamba-org/provision-with-micromamba

And you are an admin of that repo, too.

[2020-11-30 12:57] beckermr commented on #613
Awesome! I updated the readme and the updates now appear on the github actions marketplace too!

[2020-11-30 13:00] slamer59 commented on #614
Thanks. It works with `-c url`

I use often the alias and never try the full url. Not sure to be at ease to do a PR.

[2020-11-30 13:00] #614 closed

[2020-11-30 13:18] wolfv commented on #614
yeah, we will get there... it just takes a bit of time and love to have all the features in micromamba :)

[2020-11-30 13:28] slamer59 commented on #614
Of course. No worries ! The fact is that mamba is really great ! And micromamba is even better for dokerization. So great expectation is there ^^

[2020-12-02 11:03] buhrmann opened #616 "[micromamba] Respect pinned file, multiple --file support in install command?"
Hi, happy user of micromamba here. Just wanted to comment on a couple of issues I'm still having compared to using conda.

Allow pinning
The situation I have is that in our build system we incrementally create docker images, installing additional python dependencies in each step. Using conda that's easy, since I can easily pin the versions of base packages and know that any later packages I instal

[2020-12-02 11:47] wolfv commented on #616
Hi @buhrmann thanks for the feedback! Yes, this part of micromamba has to be (and will be) improved.

[2020-12-03 09:12] TTTPOB opened #617 "[micromamba] cross-channel dependencies"
example
[code]
where `repeatmasker` requires a package from conda-forge( `perl-text-soundex` )

results
[code]

[2020-12-03 09:37] wolfv commented on #617
you just need to add `-c conda-forge` as well.

[code]

[2020-12-03 09:37] #617 closed

[2020-12-03 17:37] wolfv commented on #413
we have this in the table view now.

[2020-12-03 17:37] beckermr opened #618 "[mamba] repoquery shows concrete or wrong versions"
We have found that the repodata query command shows either the concrete versions for an installed package or plainly wrong versions for things not installed. IMHO it should show the abstract set of requirements as stated in the repodata.

cc @wolfv

[2020-12-03 17:38] wolfv opened #619 "mamba depends don't show fake versions"
We shouldn't show fake versions for dependencies when not actually solving the environment.

E.g.:

[code]

cc @beckermr

[2020-12-04 03:04] TTTPOB commented on #617
my bad, thx

[2020-12-04 16:52] wolfv opened #620 "[mamba] create `repoquery why`"
It would be cool to have a `repoquery why` to ask for "why does this package install into that environment".

For example, I would like to know why `mysql` is in the dependencies of `gazebo`.

Right now I do `mamba create -n gazebo gazebo --dry-run` to check that, indeed, `mysql` is pulled in, but I would need to create the environment to figure out why (and go look in the conda-meta folder).

[2020-12-05 09:46] wolfv commented on #619
Duplicate of #618

[2020-12-05 09:46] #619 closed

[2020-12-06 12:39] hadim opened #621 "Parameterized an env.yml file during conda env creation"
This is probably more relevant to first be integrated upstream but posting here in case someone is interested in the idea.

In short, the idea is to be able to do something similar to:

[code]

See https://github.com/conda/conda/issues/10398 for the full ticket.

[2020-12-08 13:41] dariober opened #622 "Revert version string parsing changes for file requirements and pinned specs"
Hi- It seems the version string is not correctly parsed when using the `--file` arguments. For example, on a new environment, this works:

[code]
----
However, if I put `perl =5.22` in `requirements.txt` and use the `--file` argument I get:

[code]

Am I missing something?

[2020-12-09 10:09] dhirschfeld commented on #596
`certifi` works for python (requests) so it does work for `conda`.

For `mamba` I think the curl library needs to be compiled with schannel support (#530)

[2020-12-09 11:07] adomingues opened #624 ""greedy" update of dependencies"
Dear all,

first of all thank you for mamba! It literally saves hours of work.

I have spotted a behaviour which might be a bug or a feature:

When installing an r-packge in a fairly complex environment, mamba asks to a large number of dependencies:

[code]

However I am asking for a specific version of the package which I know it should not need any updates for dependencies - I have the same envi

[2020-12-09 15:33] wolfv commented on #622
I think the `=` sign is superflous in this case `echo "perl 5.22"` should probably work. I'll check why this happens -- but I do think that we're using conda's parsing for the initial parsing here.

[2020-12-09 19:13] matthewwardrop opened #626 "`conda mambabuild` does not respect passed channels"
Greetings all,

I love how much fast `mamba` is over `conda`, but am having a little trouble getting it to respect conda overrides during the build process. `conda mambabuild -c conda-forge <recipe>` does not cause mamba to look at the conda-forge channel (it just continues to look at the default channels of the host environment). Is that expected?

[2020-12-11 02:43] dhirschfeld opened #628 "`ssl_verify` `.condarc` option doesn't work if pointing to a custom crt"
In our linux containers we point the `.condarc` [`ssl_verify`](https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#ssl-verification-ssl-verify) option to our custom crt file:
[code]

`conda` picks this up and we can connect to our internal repo server but it appears `mamba` ignores this setting and we get SSL errors when trying to connect.

[code]
<br>

If howe

[2020-12-11 02:44] dhirschfeld commented on #628
Looks related to https://github.com/mamba-org/mamba/issues/151#issuecomment-617535208

[2020-12-12 12:13] wolfv commented on #628
thanks for opening this issue. I will have to check why we're not using the option from condarc.

[2020-12-14 12:25] buhrmann opened #631 "mamba env update installing into wrong path"
Hi, when using `mamba env update -n myenv --file requirements.yml`, and in an active `myenv` environment, the command creates a new nested environment. E.g. if my current environment is at `miniforge3/env/myenv`, then the command installs the desired packages in `miniforge3/env/myenv/env/myenv`,  which is not what conda does, and probably not what's expected. When no environment is activated (i.e.

[2020-12-14 12:29] wolfv commented on #631
Do you have `mamba` installed in `myenv`?

mamba needs to be _only_ in the base environment currently.

[2020-12-14 12:34] buhrmann commented on #631
Yes, that could be it. Sorry, didn't know!

[2020-12-14 12:35] wolfv commented on #631
yeah, it's a limitation of the way mamba and conda work together.

[2020-12-14 12:51] buhrmann commented on #631
Ok, thanks. I've got another problem with `mamba env update`, not sure whether to open a new issue. Basically, it seems to ignore the pinned file in `myenv/conda-meta/pinned`. If I do a normal `mamba install ... some_pkg`, in contrast, it is respected. I also tried with `mamba install --file requirements.yml`, but that command fails with`CondaValueError: could not parse 'name: myeny ...' and it se

[2020-12-14 13:56] wolfv commented on #631
indeed, there might be an issue since `mamba env` and `mamba create` are implemented differently (it's a historic artifact from conda ... )

PRs welcome!

[2020-12-14 14:55] buhrmann commented on #631
Sorry, just to confirm... there is currently no way to make `mamba env` respect the pinned file, nor for `mamba install` to consume a conda environment file, right? Just asking because the latter seems to be possible with micromamba, e.g.

[2020-12-14 14:58] wolfv commented on #631
yes, micromamba is a completley different implementation for the CLI where I removed the weird differences between "conda env" and "conda create".

For conda & mamba, it's true that `conda env` handles `yaml` files, and `conda create` text or explicit env files.

Disrespecting the pinnings is something that can be fixed in `mamba_env.py` (https://github.com/mamba-org/mamba/blob/master/mamba/mamba_

[2020-12-14 15:10] buhrmann commented on #631
Ok, thanks. I was trying to write some install scripts that would use micromamba in production docker images, and mamba in local installs. But seems that for now that isn't possible since one only accepts conda environment yaml files, and the other only plain text files.

[2020-12-14 16:45] buhrmann opened #632 "[mamba env] update doesn't respect pinned file in conda-meta"
Hi, just breaking this out as separate issue from #631.

`mamba env update` currently ignores pinned specs in env/conda-meta/pinned.

[2020-12-15 06:57] wolfv opened #648 "Actual "network-of-mirrors" TODO"
There are a couple of missing bits and pieces for proper network-of-mirrors:

### quetz

- [x] share download count and other stats back to main instance (PR mamba-org/quetz#266 )
- [x] mirroring without reindexing: reindexing is wasteful and CPU intensive, so maybe we can just copy from repodata.json or dump the database? (PR mamba-org/quetz#275)
- [x] implement a "known"-mirrors endpoint that th

[2020-12-15 13:26] davidbrochart opened #633 "Reimplement: mamba env create -f env.yml"
Currently:
[code]
falls back to conda.
We could reimplement it with:
[code]
by parsing the YAML file. What do you think?

[2020-12-16 17:03] kariharju opened #634 "[micromamba] feature req: Enable create command to list & skip packages it cannot find in given channels"
**Why**
Premise: We have to use pip to load stuff to environments as everything is not yet in pip.
Problem: Users do not know what is in conda and pip, but we know that loading from pip is really slow compared to micromamba.

Having the ability to use micromamba to "resolve all > load what you can > list the rest" to feed all things user lists in conda.yaml (conda and pip stuff) into micromamba an

[2020-12-16 17:05] wolfv commented on #633
the issue I can see is that this behavior does not match `conda` which (afaik) doesn't implement YAML environments under the `conda create` command.

[2020-12-16 18:13] davidbrochart commented on #633
What I mean is that whatever the file specified after `-f` is, we get the package name, packages and channels, and use them in `mamba create`. It should be the same behavior, right?

[2020-12-17 04:38] vjmp opened #635 "[micromamba] feature request: flush output (stdout/stderr) while working so that progress becomes visible"
Problem: we are using micromamba inside application and capturing/passing thru outputs to users, and currently part of output gets chunked on buffer sized blocks. And that causes output tearing and also makes progress invisible as output appears only after buffer gets flushed.

Solution candidate: flushing stdout/stderr after each complete line would stop tearing and also make progress visible for

[2020-12-17 05:44] vjmp opened #636 "[micromamba] annoyance: ERROR vs. warning"
When running micromamba environment creation, we get lots of message like following:
_**ERROR**   link.cpp:693 **Clobberwarning**: "...\\Lib\\site-packages\\wheel\\__pycache__\\bdist_wheel.cpython-37.pyc_

And why is that annoying?

1. Text is red, so this must be important, right?
2. But it does not know which one it is, error or warning. So which is it?
3. And if it is actually error, why does i

[2020-12-17 07:12] wolfv commented on #636
Hi, yes I agree we should make this less "severe" looking.

The problem is that multiple packages contain the same files (they "clobber" each other). So package B overwrites some files `...\Lib\site-packages\wheel\__pycache__\bdist_wheel.cpython-37.pyc` from package A. That is usually a packaging error and ideally should be fixed :)

However, the wheel package is a noarch package and the `pyc` fil

[2020-12-17 07:29] wolfv commented on #635
Are you forwarding the progress bars? Or just the `Linking package-xyz...`?

I'll look into properly flushing this.

[2020-12-17 09:23] vjmp commented on #635
Passing thru everything that appears in stderr/stdout, no filtering, no interpreting. And no progress bars, just "progress" in that sense that there is some output happening in underlying system.

[2020-12-17 09:35] vjmp commented on #636
Yes, but if it is packaging error, and developers of that package don't care [and are silently exclaiming that it is totally okay to have that error] and release that package anyway, then end user of that package cannot do anything about it, so should they even be warned.

And yes, it is just annoyance, but at least my heart "jumps" when I suddenly see red ERRORs appearing. And if they are meaning

[2020-12-17 11:35] dhirschfeld commented on #636
The end user can open issues against the offending [`conda-forge`](https://github.com/conda-forge) feedstock or [`AnacondaRecipes`](https://github.com/AnacondaRecipes) feedstock as appropriate. A motivated user could even open a PR to fix the packaging issue themselves.

In this case however, inspecting the `wheel` package from [anaconda.org](https://anaconda.org/conda-forge/wheel/files) shows the

[2020-12-17 11:46] obilaniu commented on #636
`link.cpp` and "linking", as I understand it, implements a logic of precompiling Python bytecode on disk using the expected Python interpreter. But that's not only purely optional, it creates new files that can be clobbered by future upgrades (and separately it hurts the purely-statically-linked storyline by invoking unconditionally a potentially dynamically linked executable).

@wolfv what usecas

[2020-12-17 11:52] wolfv commented on #636
@obilaniu we are re-implementing the logic of conda's noarch packages here. the idea (for Python noarch packages) is to compile all `.py` files to `.pyc`, and add them to the index at install time. The main benefit is that when you modify, update or remove the noarch package this will be done cleanly, and all `.pyc` files will be deleted as well.

Mamba should make sure that `python` is (properly)

[2020-12-17 11:53] wolfv commented on #636
And yes, I will "downgrade" this from a LOG_ERROR to some nicer form of warning. I totally agree with that.

[2020-12-17 16:12] kariharju commented on #636
The test yaml for the case is this:
[code]
We are just creating a new environment with this.

[2020-12-17 18:25] wolfv commented on #636
Ok, on Linux I see only a single clobberwarning for this environment:

[code]

will have to check what's going on on Windows.

[2020-12-18 14:58] sanzoghenzo opened #637 "KeyError with private channel in environment.yml"
I deployed my quetz instance and uploaded some packages to a private channel;

Another project uses those packages, so I added them to my environment.yml file along with

[code]

(this is until [conda#100118](https://github.com/conda/conda/issues/10018) is solved).

If I try to `mamba env create -n myenv -f environment.yml` (the same applies to `mamba update`), I get

[code]

[This is the full log

[2020-12-18 16:41] trendelkampschroer opened #638 "Usage question: `repoquery` for `environment.yml` that fails to resolve."
Hi, thanks a lot for creating `mamba` and making it freely available.

I have a usage question regarding the `repoquery` command.

My current understanding is that I can use the `repoquery` command only on dependencies in the current (mamba/conda) environment, i.e. those that have already been successfully resolved.

I have an `environment.yml` file which I cannot resolve. I'd like to use `repoque

[2020-12-18 17:14] wolfv commented on #638
Hi, it's possible to use `repoquery` with channels.

For example: `mamba repoquery depends xtensor -c conda-forge`

or `mamba repoquery whoneeds xtensor -c conda-forge`

please note that the results in the depends query are basically just random versions since no full solve is performed. there is a seperate issue for that https://github.com/mamba-org/mamba/issues/618

[2020-12-18 22:37] wolfv commented on #637
@s22chan can you take a look? I think we might have to revert your latest edit (https://github.com/mamba-org/mamba/pull/625/files)

Regarding token filtering: would be great to filter stdout automatically, but haven't had the time to properly look into that yet.

[2020-12-18 22:44] wolfv commented on #637
conda filters tokens in this file:

https://github.com/conda/conda/blob/master/conda/gateways/logging.py

[2020-12-18 22:45] s22chan commented on #637
that seems like an odd use case for me, since checking in your token to github (instead of injecting it via a secret into your .condarc) sounds like a security risk.

I'm fine with that since I can pin to the current version, but it's odd that mamba is parsing channels in .condarc differently than an environment.yml

[2020-12-18 22:47] s22chan commented on #637
Also would it fix things? It looks like the key is still without the token:

[2020-12-18 22:48] wolfv commented on #637
Hmm, I think I need to check what's going on Monday... I briefly thought this might be related to the recent changes in mamba, but this might in fact be unrelated.

[2020-12-18 22:51] s22chan commented on #637
@sanzoghenzo can you confirm which mamba version you used to generate that log?

[2020-12-19 01:00] michaelaye commented on #571
this is back in 0.7.6:

[code]
As you can see, `mamba` suggests packages from `pkgs/main` instead of `conda-forge`.

[code]
[code]

[2020-12-19 08:33] wolfv commented on #571
It seems like you're adding the defaults channel somewhere, otherwise this should not be possible.

[2020-12-19 08:34] wolfv commented on #571
Also feel free to open a new issue. I don't think this is related to the parent issue here.

[2020-12-20 01:25] michaelaye commented on #571
i have found out that this is caused by `channel_priority=flexible`. Setting it to `strict` produces the expected results.
However, IMHO, it's bad UX that a command-line option is not trumping any other configured settings. It is customary in any GNU command line utils that command line options are over-ruling anything set in configuration files.

[2020-12-20 01:26] michaelaye opened #639 "command-line set channel ignored"
[code]
As you can see, `mamba` suggests packages from `pkgs/main` instead of `conda-forge`.

[code]
[code]

_Originally posted by @michaelaye in https://github.com/mamba-org/mamba/issues/571#issuecomment-748393571_

[2020-12-20 01:32] michaelaye commented on #639
My copy/paste ended 1 line too early, yes, so the last priority channel in this env is `defaults` (updated above).

[2020-12-20 07:05] wolfv commented on #639
We use the exact same command line parsing as conda. You need to add --override-channels

[2020-12-20 07:05] #639 closed

[2020-12-21 08:27] sanzoghenzo commented on #637
My bad, I was on 0.7.3; upgrading to 0.7.6 seems to have fixed that.

This is embarassing... I thought I must specify the channel in my environment.yml to ensure it is considered... Still learning about conda internals!
I think I'll go with the .condarc injection.
Thanks and sorry for wasting your time!

[2020-12-21 08:27] #637 closed

[2020-12-21 10:42] humitos opened #640 "Latest `mamba` version is not compatible with `miniconda2`"
Hi! I'm trying to figure it out why I can't install latest `mamba` (`0.7.6`) version when using `miniconda2` as base system, and instead `0.1.0` is installed.

Using `miniconda2`:

[code]

Using `miniconda3`:

[code]

Latest version of `mamba` is not compatible with py27 miniconda version?

I'm trying to figure it out what's happening here because we want to start using mamba in Read the Docs and

[2020-12-21 13:51] wolfv commented on #640
Python 2 is very much deprecated.

You can still create Python 2 environments, but your base environment _has to be_ python3.

Just do `mamba create -n somepy2env python=2 matplotlib ...` to create a python 2 environment and activate with `conda activate somepy2env`.

Going forward we are absolutely not going to support Python 2.

[2020-12-21 13:53] wolfv commented on #640
One way to "fix" this is to update the base environment to Python3:

`conda install python=3.7 mamba -c conda-forge`

Would that work for readthedocs? Sorry, I only saw after my reply that this is for readthedocs :)

[2020-12-21 13:56] wolfv commented on #640
Is it absolutely impossible to switch to Miniconda 3? I could try to make Python 2.7 builds, but we also moved on to use pathlib and other Python 3 goodies in the source ... so I am not convinced that this would be trivial.

[2020-12-21 14:02] wolfv opened #641 "[micromamba] add ttl flag to increase cache liftetime"

[2020-12-21 15:53] humitos commented on #640
Hi @wolfv! I assumed that latest versions of mamba were not compatible with Python2 because it's deprecated. However, I wanted to ask to be sure that my assumption was correct considering that conda still supports python2 but mamba doesn't.

I will give this a try. Would this first install `python3.7` in the base environment _and then_ install `mamba` on it using the py37 just installed? If that's

[2020-12-21 16:34] #635 closed

[2020-12-21 16:34] #636 closed

[2020-12-21 16:34] #641 closed

[2020-12-22 08:47] vjmp opened #643 "[micromamba] implement --silent flag or handle multiple `-qq` for complete silence"
When using --quiet flag, expectation is that application does not write extra output. But currently it acctually does. See image for output I see.

![noquiet](https://user-images.githubusercontent.com/7085/102868454-1ec1c100-4432-11eb-815f-7ba8c665adc0.png)

[2020-12-22 13:23] wolfv commented on #643
This is the output of conda with quiet flag:

[code]

We could be like Python `pip` and allow multiple `--quiet` flags, so that `-qq` would really make micromamba quiet...

[2021-01-05 05:19] jasongrout opened #644 "ReadTheDocs link"
It took me a while to find https://mamba.readthedocs.io/en/latest/. Should it be linked somewhere in the readme, or as the url for the GitHub repo?

[2021-01-05 06:25] #644 closed

[2021-01-05 09:59] wolfv opened #646 "json logging improvements"
It would be good to improve our JSON output:

- [ ] forward logging messages
- [ ] implement progress bar support
- [ ] implement multiple json outputs (by line / by "outer dict"), like conda does for progress bars

cc @vjmp

[2021-01-05 10:21] Marilyth opened #647 "Mamba installs wrong version"
Yesterday we ran into an issue, which you can read about here Open-MSS/MSS#613
I was asked to bring this to your attention.

To sum it up:
We created a conda environment which was running python 3.9
We installed mss, which currently doesn't have a 3.9 build, but does have a 3.8 build
Mamba, instead of reverting to the 3.8 build, has instead opted to install a python2 build which caused the install

[2021-01-05 14:39] wolfv commented on #647
The problem is related to how we pin the Python version with mamba. In this case, the python 3.9 version of the package was not available, but mamba still strongly pins Python.

Here are suggestions by @ReimarBauer

From https://github.com/Open-MSS/MSS/issues/613#issuecomment-754614018

[2021-01-06 21:07] woodwm opened #649 "package `pyarrow` cause `mamba` downgrade from 0.7.6 to 0.1.2"
Please see the following.

[code]

[2021-01-06 21:11] wolfv commented on #649
Thanks. We need to rebuild mamba with the latest libarchive

[2021-01-07 08:34] chrisburr opened #650 "Invalid cross-device link when running micromamba create"
I don't have a easy reproducer to hand as this was in a private CI pipeline but the latest micromamba has fails when creating environments on a different device than the root prefix:

[code]

[2021-01-07 09:07] btel commented on #648
yep, it's done!

[2021-01-07 09:07] wolfv commented on #650
Hi, yes, this happens when attempting to link between devices (e.g. mounted hard drive, mounted volume in a docker container etc.)

A workaround is to have the `pkgs` cache folder and the target prefix location on the same device.

The real fix is to fall back to either sym-linking or file copying instead of using hard links.

[2021-01-07 09:08] #640 closed

[2021-01-07 09:08] wolfv commented on #640
thanks for fixing this in readthedocs!

[2021-01-07 15:55] vjmp opened #651 "[micromamba] fails when TMP has spaces in it"
This script reproduces problem in my linux.

    #!/bin/sh

    export MAMBA_ROOT_PREFIX=/tmp/space
    export TMP="/tmp/spa ce"

    rm -rf $MAMBA_ROOT_PREFIX $TMP
    mkdir -p $MAMBA_ROOT_PREFIX $TMP

    echo "channels:" > $MAMBA_ROOT_PREFIX/any.yaml
    echo "- conda-forge" >> $MAMBA_ROOT_PREFIX/any.yaml
    echo "dependencies:" >> $MAMBA_ROOT_PREFIX/any.yaml
    echo "- python=3.8" >> $MAMBA_

[2021-01-08 02:46] schorlton opened #652 "micromamba fails in Docker"
# Issue

I suspect there has been a breaking change in micromamba at some point. Basing off of https://github.com/mamba-org/mamba/blob/master/.github/workflows/main.yml#L11, I built the following Dockerfile:

[code]
This works, but (note micromamba version)

[code]
(running version 0.7.7) does't work, producing:
[code]

[2021-01-08 07:20] vjmp commented on #651
Now it seems to fail all the time. This is error I see:

    terminate called after throwing an instance of 'std::runtime_error'
      what():  Could not read JSON repodata file (/home/user/tmp/pathing/pkgs/cache/b556ea5a.json) parse error line 1

And that file looks like this (clearly broken, just one line):

    {"_cache_control":"public, max-age=1200","_etag":"W/\"50097877e1fcb71d9a1113f5dfc023

[2021-01-08 14:01] wolfv commented on #651
As discussed in private there are two problems here:

- mamba does not handle file errors very well yet (fixes coming in #653)
- the temp dir did not exist. Users need to make sure that the directory exists and is writable from the mamba process (error handling will give info about this)

[2021-01-10 11:36] saraedum opened #654 "run_constrained is sometimes ignored"
prompt-toolkit and prompt_toolkit from conda-forge are connected by a `run_constrained`:

[code]

However, doing the following we manage to break that constraint (and end up with a broken ipython/sagemath):

[code]

This happens with the latest version of mamba on conda-forge, see e.g. here: https://github.com/flatsurf/sage-flatsurf/pull/80/checks?check_run_id=1673467430.

When I replace mamba wit

[2021-01-11 13:06] wolfv commented on #651
I added better error handling/reporting to micromamba in #653.

I tested with a `tmp` that has spaces in it and it seems to work fine (as long as the TMP folder exists :)

[2021-01-11 13:06] #651 closed

[2021-01-11 13:13] wolfv commented on #652
Weird, I just tried and it worked for me. Is it possible that you ran out of diskspace?

[2021-01-11 13:13] #652 closed

[2021-01-11 13:19] wolfv commented on #649
This should be fixed by a recent repodata patch.

[2021-01-11 13:19] #649 closed

[2021-01-11 13:22] wolfv commented on #654
Thanks for the bug report.

[2021-01-11 13:23] #599 closed

[2021-01-11 13:24] wolfv commented on #549
there is a mamba-forge docker image in conda-forge now.

[2021-01-11 13:26] wolfv commented on #512
Thanks @rgerkin there was an issue with our error handling in file streams. We now do more error checking and handling so that thsi issues should not occur anymore.

[2021-01-11 13:26] #512 closed

[2021-01-11 13:27] wolfv commented on #478
this might have been related to the older libarchive that was still in the conda-forge pinnings until a couple of days ago.
I think we are not linking with libiconv anymore.

[2021-01-11 13:27] #478 closed

[2021-01-11 13:28] wolfv commented on #650
This is actually a duplicate of https://github.com/mamba-org/mamba/issues/260

[2021-01-11 13:28] #650 closed

[2021-01-11 13:37] akhmerov commented on #549
Sounds great! Can you please link the image or the dockerfile? I tried searching for "mamba-forge", but to no avail.

[2021-01-11 14:30] wolfv commented on #549
The PR implementing it: https://github.com/conda-forge/docker-images/pull/169

[2021-01-11 14:31] wolfv commented on #549
The dockerhub image: https://hub.docker.com/r/condaforge/mambaforge

[2021-01-11 14:31] wolfv commented on #549
please provide feedback how it goes! We still need to do something about micromamba.

[2021-01-11 14:58] vdsbenoit commented on #637
I have a similar issue on my computer with version 0.7.6 (and my colleague too).

The only difference is that I try to install a package with `mamba install my_package` instead of an `environment.yml` file.

So to summarize, I have a private channel in my `.condarc` that contains a token. Let's say my `.condarc` is the following :
[code]
The package `my_package` only exists on my private channel.

[2021-01-11 15:11] marcindulak commented on #549
It looks like the image is not versioned, only provides the `latest` tag.

[2021-01-11 16:09] wolfv commented on #637
ok, this is not really a "token" in the conda sense, it's the Simple HTTP Auth ... but still this should work. Could you open another issue?

[2021-01-11 16:16] vdsbenoit commented on #637
Thank you for answering! You are right. I will do that

[2021-01-11 16:21] vdsbenoit opened #655 "KeyError with private channel packages"
mamba throws a KeyError when I try to install a package from my private channel.

I have a private channel in my `.condarc` that contains HTTP authentication credentials in it. Let's say my `.condarc` is the following :
[code]
The package `my_package` only exists on my private channel. When I run  `mamba install my_package`, I get the following error :
[code]

I use mamba 0.7.6.

<details>
<summar

[2021-01-11 16:32] vdsbenoit commented on #655
I have tried to locate the regression. According to my tests, it was introduced between 0.7.4 and 0.7.5 :

0.6.4 ok
0.7.1 ok
0.7.3 ok
0.7.4 ok
0.7.5 nok
0.7.6 nok

[2021-01-11 17:31] wolfv commented on #655
thanks @vdsbenoit

I think we need proper tests for this! I'll make a pass soon.

[2021-01-11 17:59] wolfv commented on #549
you can help in this issue @marcindulak https://github.com/conda-forge/docker-images/issues/43

[2021-01-11 20:21] michaelaye opened #656 "mamba tries to install from default even so it's not a known channel"
On this machine, I wiped my miniconda and wanted to try miniforge instead, which I understand its only difference is to use the conda-forge channel by default?
I wanted to immediately take advantage of mamba's awesome speed, so added it first before installing anything else.
But I am again met with weird behavior by mamba trying to install from defaults even so that is not an allowed source channe

[2021-01-11 20:22] michaelaye commented on #656
it seems like `mamba` ignores the .condarc file inside the miniforge folder that was put there by the miniforge installer?

[2021-01-11 20:42] michaelaye commented on #656
yep, that seems to be the issue.
Executing the following 2 commands made it work as expected:

[code]

[2021-01-11 21:15] wolfv commented on #656
We're using the same config system as conda so we'd need to fix how conda overrides the condarc files

[2021-01-11 21:33] michaelaye commented on #656
some more interested details in mamba's behavior, depending on content of `~/.condarc':

condarc content:

[code]

miniforge/.condarc:
[code]
-> mamba works, but looks at `defaults`
-> conda works, but looks at `conda-forge`

changing only ~/.condarc to:-
[code]

[2021-01-11 21:38] michaelaye commented on #656
Isn't it a very clear and usual config file override hierarchy in conda:

$CONDA_PREFIX/.condarc  (the environment config)
-> (overrules)
$CONDA_PREFIX_1 (the main installation folder, here: `~/miniforge3` )
->
$HOME/.condarc.

[2021-01-13 08:54] wolfv commented on #572
Hi @obilaniu I have a custom pipeline for building micromamba here: https://github.com/mamba-org/boa-forge/runs/1693702406

I am wondering if you would know how we could build musl-libc in a first step, and link against that from all further downstream packages? I guess the advertised solution would be to use `CC=musl-gcc` ... maybe we can figure out the required flags ourselves...
Or we could run

[2021-01-13 09:19] obilaniu commented on #572
@wolfv Oh, thanks!

I realize I haven't shared my latest Singularity recipe, so I'll do that now:
- [Singularity.txt](https://github.com/mamba-org/mamba/files/5807567/Singularity.txt)  (Works for 0.7.6)

Building musl-libc from scratch is probably overkill. As depicted in the recipe, my preference is to `apk install alpine-sdk` plus everything else I can get "for free" _(`curl` being an exception

[2021-01-13 13:41] #567 closed

[2021-01-13 18:03] wolfv commented on #598
Fixed!

[2021-01-13 18:03] #598 closed

[2021-01-13 18:04] #558 closed

[2021-01-15 10:12] gabrielcnr opened #658 "mamba brings pypy instead of CPython when creating env"
I have here what it seems to be related to the issue #81

When using mamba to create an environment, it keeps pulling `pypy`, which is not part of the given specs. When using pure conda that does not happen.

I tested this on Mac and Linux, and both presented the same behaviour.

Creating an env with:

`mamba create -n foobar "cachetools" "dataclasses" "diskcache>=4,<5" "humanize" "matplotlib>=3.1

[2021-01-15 10:21] marcelotrevisani commented on #658
I tested it on my local and it works fine for ``Linux`` and ``mamba=0.4.4``

[2021-01-15 10:53] marcelotrevisani commented on #658
Well, I also tried with ``0.7.8`` and it worked fine... that is weird

[2021-01-15 11:19] marcelotrevisani commented on #658
As a workaround you can write python as:
[code]

[2021-01-15 11:31] gabrielcnr commented on #658
I reinstalled `mamba` and now I'm on `mamba=0.7.8` and I continue to see the same problem on both Mac and Linux.

[2021-01-15 14:16] gabrielcnr commented on #658
I have further information here, after a bit more investigation.
I noticed if I change the specs that I pass to mamba to consider only `python` instead of `python>=3.6.10,<3.7", then it correctly picks up the CPython python. If try to pass `python=3.7.*` or `python=3.8.*` it also works fine. But if I try to pass `python=3.6.*` then it picks up the pypy build. So, I guess it's something related to

[2021-01-15 17:22] SylvainCorlay commented on #658
@gabrielcnr, could you please report the version of libsolv that you have?
This is related to https://github.com/openSUSE/libsolv/pull/395 which was only included in libsolv 0.7.15.

[2021-01-15 17:33] gabrielcnr commented on #658
@SylvainCorlay , I've got `libsolv=0.7.16`

More specifically:
[code]

[2021-01-17 05:14] schorlton commented on #652
Have plenty of free disk space. After some troubleshooting, I think it's actually a BuildKit issue? Can you try with building with env variable `DOCKER_BUILDKIT=1`?

[2021-01-17 10:54] wolfv commented on #658
@gabrielcnr I suppose you're running natively on OSX, right?

When testing on Linux, using

[code]

mamba correctly resolves to CPython. I wonder if this is an issue on the OS X build of libsolv ... that would be interesting :)

[2021-01-17 11:10] wolfv commented on #658
Hmm, I tried locally on OS X (intel) and your command also properly takes cpython.

What happens if you do not use `main` as additional channel? It's discouraged, and they never did the `python_abi` patches that conda-forge has to support both pypy and cpython.

[code]

Now I don't really know any further.

[2021-01-17 11:15] gabrielcnr commented on #658
@wolfv let me try here, but I had the same problem originally on Linux (RHEL 7) at work...

[2021-01-17 11:22] gabrielcnr commented on #658
I can confirm that I'm seeing this both on Mac and on Linux. Just tried here and the same happened... Do you need more details about my environment? Please let me know and I can provide more info.

[2021-01-17 11:38] gabrielcnr commented on #658
@wolfv - If add `-c conda-forge` at the end of the command to create the env, then it resolves pulling CPython... so, the hunch was good... :-)

[2021-01-17 12:54] wolfv commented on #658
Yeah, IMHO conda-forge and main are becoming more and more incompatible. It's like using fedora and Ubuntu packages at the same time.

One should at least use strict channel priority, better yet completely remove Main on Linux and OS X.

The defaults channel never modified their python packages to be compatible with cpython/pypy

[2021-01-17 13:51] SylvainCorlay commented on #658
I think that it is time communicating more about using mambaforge / miniforge, rather than miniconda.

[2021-01-17 14:06] marcelotrevisani commented on #658
That is right, but, it is because the main don't care about ``pypy``, but the python on the main channel and the python with CPython on conda-forge are basically the same

[2021-01-19 16:11] wolfv opened #659 "[micromamba] use "subprocess" wrap when calling pyc compile"
To prevent missing dll's problems on Windows.

[2021-01-19 17:29] nikhilweee commented on #587
Just to add to @tstenner's answer and to save you from some typing each time you invoke `mamba`, you could also set the environment variable `MAMBA_NO_BANNER` like so. This way, none of the `mamba` commands would show any banner.
[code]

[2021-01-19 17:43] habemus-papadum commented on #587
All good answers.  Apologies if they were already in the docs.  Thank you!

[2021-01-19 17:43] #587 closed

[2021-01-19 19:35] #659 closed

[2021-01-24 07:32] wholtz commented on #549
I recently created a micromamba docker image: [git repo](https://github.com/buildcrew/micromamba_docker) and [images on dockerhub](https://hub.docker.com/r/willholtz/micromamba). Versioned builds are created automatically when there are new commits on the main branch or new version tags added to https://github.com/buildcrew/micromamba_docker. I haven't yet tried to have new releases of micromamba

[2021-01-25 03:19] obilaniu commented on #572
@wolfv Further to this: I have now managed a **4.5 MB, fully-statically-linked, musl-based** `micromamba` 0.7.10 for x86_64 using hard-core LTO optimization. Compressed with `xz` it takes 1.9 MB. This compares with the 11.0 MB, partially-statically-linked, glibc-based `micromamba` 0.7.9 for x86_64 currently served by Anaconda cloud, and even the `.tar.bz2` tarball takes 4.9 MB, which is more space

[2021-01-25 12:50] maartenbreddels opened #663 "RuntimeError: Multi-download failed"
Seeing this in CI https://github.com/vaexio/vaex/pull/1181/checks?check_run_id=1761942388 withmamba-0.7.10

[2021-01-25 13:25] xhochy commented on #663
You have non-CDN channels in your `conda` configuration:

[code]

They all error with HTTP 500 currently as anaconda.org is down since at least the European morning. `mamba` should print a better error for this somehow.

@maartenbreddels Specifically for `vaex`, you shouldn't need these channels anymore. Everything on all OSes should nowadays be included in conda-forge, so you could just get rid o

[2021-01-25 14:39] wolfv commented on #663
Thanks @xhochy! I think the problem has been fixed now on Anaconda side (https://gitter.im/conda/conda?at=600ed542cae490555f6862cd)

[2021-01-25 14:39] #663 closed

[2021-01-25 14:46] wolfv commented on #572
Wow, that is some impressive work you have there!
I have also worked further on a micromamba build using github actions and `boa` as a build tool.
I have a custom pipeline now that builds all dependencies of micromamba from scratch and publishes a nightly release to github releases:

Recipes: https://github.com/mamba-org/boa-forge
Example release: https://github.com/mamba-org/boa-forge/releases/ta

[2021-01-25 14:51] maartenbreddels commented on #663
Thanks, both, and sorry for the noise since this was not mamba related (except maybe a better error), cheers!

[2021-01-25 14:57] ReimarBauer opened #664 "mamba is not setting PROJ_LIB env at installation time"
Just for documenting something I've recognized by installing MSS, see https://github.com/Open-MSS/MSS/issues/630

In short, it seems that the PROJ_LIB env is set when the `conda env` is reactivatet but not at installation time.
I can live with that and will document this in our docs.

`conda install` seems to set the env PROJ_LIB during the installation, so no reactivation is needed.

[2021-01-25 15:08] wolfv commented on #664
thanks for the report. Indeed, that is a mamba-specific problem since the `conda`-command is actually a wrapper bash-script that calls reactivate after installing a package.

To fix this we would need to make the `mamba` command a similar bash-script. That would also fix other issues, such as #481

[2021-01-25 18:59] obilaniu commented on #572
@wolfv I notice that you've struck out in the [micromamba](https://github.com/mamba-org/boa-forge/blob/master/micromamba_recipe/CMakeLists.txt) recipe the LZMA, LZO, LZ4, libcom_err/e2fsprogs and nghttp2 dependencies. So which compression algorithms are in fact allowed by the Conda package spec?

My LTOed `micromamba` is currently compiling with all of those extra dependencies, perhaps I could tri

[2021-01-25 21:03] obilaniu commented on #572
@wolfv Well, I just went ahead and tried it out, and removing all of those extra dependencies, I only get a shrinkage from 4.5 to 4.3 MB, a minor shrinkage. Half is due to nghttp2 and half to the removal of the extra compression algorithms.

It seems like LTO has done an excellent job stripping away dead code, so I'm unsure if it's really worth it for my build to disable features that future-proof

[2021-01-26 12:54] saraedum opened #665 "micromamba installer in powershell fails with SSL error"
I ran into the following issue on Windows:

[code]

I found this [workaround](https://stackoverflow.com/questions/11696944/powershell-v3-invoke-webrequest-https-error). Is that something that could be improved on the micromamba.snakepit.net server or maybe this should be mentioned in the instructions?

[code]

I am mostly clueless about PowerShell. So maybe it's just my setup that is broken someho

[2021-01-26 13:06] saraedum commented on #665
not sure if that's related but the last line of the script also did not work for me:
[code]

Didn't we extract to `Library\bin`? Why should it say `.\` then? Anyway, going to `Library\bin` first, gives me `ERROR bad file`.

[2021-01-26 13:11] saraedum commented on #665
Not sure whether I am misunderstanding things, but further down in the instructions shouldn't `Library` be some sort of environment variable?

[code]

[2021-01-26 13:49] wolfv commented on #665
yes, our instructions are slightly wrong I am afraid.

on github actions we're using the following code:

https://github.com/mamba-org/provision-with-micromamba/blob/76399eb2e25778e1d8a387de3693c08a39ac9c96/index.js#L124-L138

Sorry! I need to get to updating the docs ...

[2021-01-26 13:51] wolfv commented on #665
I checked the certificate:

[code]

seems OK?

Btw. the better URL to use is `https://micro.mamba.pm/api/micromamba/win-64/latest`.

[2021-01-26 17:11] rs2 opened #666 "Add support for use_only_tar_bz2 conda flag"
See:
* https://stackoverflow.com/a/58717064
* https://github.com/mamba-org/mamba/blob/d43f49927262b709d8da7dea13d1509583c0ae2a/mamba/utils.py#L142-L173

[2021-01-26 17:25] wolfv commented on #666
Thanks for the bug report. Indeed one will need to modify the behavior in libsolv (add a flag) to skip those two if's: https://github.com/openSUSE/libsolv/blob/4bc791c0d235eb14bfe4c5da607206bfdfa6983d/ext/repo_conda.c#L270-L273

PR's are warmly welcome!

[2021-01-27 00:17] wholtz opened #667 "[micromamba] --ssl_verify silently disabled if no certificates are present"
With micromamba v0.7.10,  a user with no certificates installed receives no indication that --ssl_verify is being ignored unless they pass the verbose flag.  If they pass the verbose flag, then the first line of output is:
[code]
This was tested on a debian:buster-slim docker image, which does not come with any certificates installed.

My expectation was that with `--ssl_verify true`  micromamba w

[2021-01-27 15:38] Haydnspass commented on #631
What works though is to just tell mamba where to create the environment via the `--prefix` flag.
The issue is, in cluster environments often you don't have write access to the base environment because it is managed centrally.
In this case you can just go with
`mamba env create --prefix [conda_path]/envs/[new_env_name] -f [environment_file]`

[2021-01-27 15:46] Haydnspass commented on #34
@wolfv I believe that does not work when one does not have write access to condabin, correct? I am on a shared cluster environment where the base environment and packages in general are managed centrally.
I tried
- updating mamba
- remove the env in which mamba was and reinstall
But it still does not work.

![image](https://user-images.githubusercontent.com/16120273/106015773-19a20280-60bf-11eb-81

[2021-01-27 15:54] Haydnspass commented on #34
As a workaround adding `mamba() { ~/.conda/envs/base_mamba/bin/mamba "$@" ;}`to `~/.bashrc` does the trick though

[2021-01-27 16:34] wenjuno commented on #655
@wolfv Do you have any update on this? I need to use basic auth for our internal channels too and this issue prevents me from using mamba for that. I have looked a bit into the code and I think the problem is that the call `.url(with_credentials=False)` strips out both token and basic auth:
https://github.com/mamba-org/mamba/blob/24409390306cb8b9123561db2909350946f56a2a/mamba/utils.py#L242
However

[2021-01-27 19:31] hakasapl opened #668 "mamba search --json"
I'm experiencing an issue where the command `mamba search --json` fails. The conda equivalent `conda search --json` succeeds. I will attach the output of the mamba command below:

<details>

[code]

</details>

The strange thing is that this issue is intermittent. The first time it will fail, the second time it will succeed.

I'm using miniconda on Ubuntu 20.04. Please let me know if I can provide

[2021-01-27 19:56] wolfv commented on #655
Yes that sounds good. A PR would be awesome

[2021-01-28 10:24] wolfv commented on #549
@wholtz your dockerfile looks awesome. Would you mind it if we make an "official" version from it?

[2021-01-28 10:29] wolfv commented on #549
Actually, if you're up for it, you could move your repo to mamba-org, and become a part of the org. then we could share maintainership for the docker image. We can push it to https://hub.docker.com/u/mambaorg then

[2021-01-28 20:10] wholtz commented on #549
@wolfv - Moving the repo to mamba-org sounds great.  Please start the process and let me know if you need me to do any steps.

[2021-01-28 22:57] wolfv commented on #549
Awesom @wholtz! I just made you a member of the mamba-org organisation which will allow you to transfer the repo. You'll keep full ownership and admin rights on the repo, of course.

[2021-01-29 05:36] wholtz commented on #549
@wolfv - repo transferred to mamba-org. Looks like someone will have to give me rights on the repo. Also, I would like to rename it to micromamba-docker to match the org naming convention.

[2021-01-29 06:33] wolfv commented on #549
Awesome, this is a great contribution. Thanks @wholtz! I made you admin on the repo, and proceeded with the rename :tada:

[2021-01-29 06:33] wolfv commented on #549
Keeping the issue open until we have continuously updating docker image on dockerhub.

[2021-01-29 06:35] wolfv commented on #549
@wholtz I want to point out one small thing I just read in the readme: while it's true that micromamba requires glibc, many other programs that are on anaconda defaults or conda-forge channel require glibc as well :) So even if we had a Alpine image and working micromamba, few packages of the popular channels would work. (Just as an FYI)

[2021-01-29 16:58] wholtz commented on #549
@wolfv Yes,  the issue that I reference (#527) makes that pretty clear, but I changed the README.md to state this a little more directly.

Can I help set up the automatic docker builds on dockerhub?

[2021-02-01 07:57] wolfv commented on #549
Cool!

For the automatic docker-push I was thinking of using GitHub Actions. If you want to give that a go, I'd be happy :) We might want to run the github action on-demand and as a cron-job (since there is a delay after tagging a release on github and the release on conda-forge / anaconda.
Maybe we can check every 24 or 12 hours for a new release.

[2021-02-01 14:25] jeanmonet opened #671 "installed spake2 with mamba (in Python 3.9 env), but "module not found""
Hi,
The following just occurred: when installing `spake2` with `mamba`, the package is not available to be imported in Python (package not found - the installation is made in a Python 3.9 environment):

[code]

When removing and installing with `conda`, the package becomes available for import in Python. I assume it is a problem related to `mamba`.

[code]

[2021-02-01 15:46] wolfv commented on #671
Hi, this is an issue with the metadata on conda-forge. The vesion that installed on my part was for ptyhon 2.7.

Can you check the metadata ofthe spake2 packagge? also the package "feedstock" is archived on conda-forge: https://github.com/conda-forge/spake2-feedstock/

So it's nt really maintained anymore. Please ask on conda-forge gitter - maybe you want to maintain that package?

[2021-02-01 15:46] #671 closed

[2021-02-03 12:09] wolfv opened #674 "[micromamba] Replace long shebangs for prefix replacement"
We need to replace long shebangs with micromamba, if they come from non-noarch packages.

[2021-02-03 16:26] wolfv opened #677 "[micromamba] Throw fewer / no exceptions in C code without cleaning up properly"
We should throw less exceptions in our C code because we need to properly close files and remove files after exceptions. In our libarchive bindings we're throwing a couple of exceptions which isn't great.

We should instead print an error message and do some other error handling / or create RAAI style C++ adapters for libarchive objects that clean up automatically.

[2021-02-04 00:26] drahnreb commented on #34
for mambaforge on osx a simple `mamba() { ~/mambaforge/bin/mamba "$@" ;}` in `.zshrc` works too. tested on osx-arm64.

[2021-02-04 17:24] wolfv opened #680 "[micromamba] Implement list2cmd for Windows"

[2021-02-04 17:24] #674 closed

[2021-02-05 09:07] #680 closed

[2021-02-05 10:07] ashwinvis opened #682 "[micromamba] Does not check if an environment exists or not"
This should be self explanatory:

[code]

[2021-02-05 10:20] wolfv commented on #682
yep. do you want to make a PR? would be cool to add a check!

[2021-02-05 11:53] ashwinvis commented on #682
:sweat_smile: I don't know if I have the C++ skills to do that. It should be here right?

https://github.com/mamba-org/mamba/blob/master/include/mamba/activation.hpp

If you can give a rough guess how it should look like, I can try.

[2021-02-05 11:57] wolfv commented on #682
This is also a good place: https://github.com/mamba-org/mamba/blob/ae61462d41df8af568f63ce450b1a9d240f712e4/src/micromamba/main.cpp#L341-L351

[2021-02-08 15:28] wolfv opened #684 "Simplify the handling of authentication"
Simplify once-and-for-all the handling of authentication tokens & simple HTTP auth

[2021-02-08 20:57] s22chan opened #686 "mamba fails to use cached repos it the tar file has been cleaned"
starting with https://github.com/mamba-org/mamba/commit/d361e1e2d57b33a360314a5926b391235ac7e868

it appears that all cached packages must be extracted, but if an  environment has called `conda clean -a`, then the validation code doesn't check if the packages are already extracted and throws an EXTRACT_ERROR with the missing tar.bz2 file.

I'm not sure how you want to handle detection of extracted

[2021-02-09 08:34] wolfv opened #687 "[micromamba] make sure that target prefix path is absolute"

[2021-02-09 17:48] LunarLanding opened #688 "Support --prune flag in 'mamba install'"
Matching changes done to channel/package specs to an environment could be done efficiently by supporting the prune flag properly; however conda env --prune [...] takes in account the history of conda install commands, and while a fix is in the works, it is taking a very long time (the issue was first reported in 2018 : https://github.com/conda/conda/issues/7279 ).
The current workaround is deletin

[2021-02-09 19:09] wolfv opened #690 "Repoquery segfault with json output"
When using depends on a non-existent package, repoquery seems to segfault.

[2021-02-10 11:09] #687 closed

[2021-02-10 11:49] #690 closed

[2021-02-10 12:12] marscher commented on #586
On Python-3.8, win10 (container, 64bit) it crashes again, importing the binary extension. It seems to be an regression, since mamba is version 0.7.12.

Detailed output can be found here:
https://ci.appveyor.com/project/BAMWelDX/weldx/builds/37685084

[2021-02-10 19:33] wolfv commented on #586
Thanks @marscher for reporting. I will check, but nothing on mamba side has changed, concerning this, as far as I am aware :/

One alternative, potentially even faster, could be to try micromamba. Since it is statically linked, you should not face issues like this.

The provision-with-micromamba github action makes it's usage very simple (you can check the source code of that action for an idea on

[2021-02-10 19:34] isuruf commented on #586
@marscher, you need to call `conda activate` beforehand. (Or add `C:\Miniconda38-x64\Library\bin` and other various paths that conda adds to `PATH`

[2021-02-11 06:53] wolfv opened #694 "[micromamba] clean command: check where package is linking"
Our current micromamba clean command doesn't handle advanced situations with multiple layers of package cache as professionally as conda currently does. Conda inspects from which package cache a certain package is linked.

[2021-02-11 13:35] marscher commented on #586
With a call to conda activate it works like a charm. Thanks for the quick feedback. This can be closed again, I guess.

[2021-02-11 16:04] martindurant opened #695 ""develop" mode?"
cc https://github.com/mamba-org/mamba/issues/342 (pip interop)

conda used to have a "develop" command that worked something like `pip install -e`: populate the metadata for the directory passed , but only link the files, don't copy them. The idea is, that the version of the package in the dev directory will appear installed, so a copy won't be pulled in by subsequent install/updates. Note that th

[2021-02-11 18:24] wolfv commented on #586
Great! Thanks @isuruf and @marscher .

[2021-02-11 18:24] #586 closed

[2021-02-12 07:35] wolfv commented on #695
Hi @martindurant thanks for opening an issue!

Yeah, I think having pip interop work would be great. I am still not sure what it would take to make it work. Generally, installing into a mamba-created environment with `pip install -e .` works fine, and I have been doing it a lot. The only problems arise when updating packages, as mamba won't recongize the pip installed packages.

I think for a deve

[2021-02-12 07:36] wolfv commented on #695
It could also be interesting to make a modifiable package cache that shadows the general package cache, and make it possible to easily modify / debug files in that temporary package cache.

[2021-02-15 08:46] wolfv opened #696 "[micromamba] additional robustness improvements"
#### environments

- [x] whenever some other process modifies the environment, it should be locked down
- [x] flag to check if there are additional / missing files / SHA256 match in environment
- [ ] Windows: before doing anything, try to rename environment? If renaming fails, we know that there is a file lock somewhere

#### packages cache

- [x] lightweight checks & removal (currently SHA256 is

[2021-02-15 15:07] mparry opened #697 "libcurl certificate revocation checks break conda compatibility in restricted network scenarios"
I've been evaluating mamba as a drop-in conda replacement for our internal usage and so far it looks great. However, there's one problem that I've run into where on many of our servers, that have no internet access, repository connections fail due to failed certificate revocation checks. (We have internal conda repo proxies/mirrors configured, so the servers can connect to those, but not anything

[2021-02-15 15:08] mparry commented on #697
Note that this is very straightforward to do:

[code]

I'd be happy to open a PR for option a, if that's acceptable.

[2021-02-15 15:19] wolfv commented on #697
Hi @mparry indeed, I haven't run across this one yet.

Would be great if you can open a PR. Maybe we add this as an option for `--ssl-verify`?

e.g. `--ssl-verify no-revoke`?

[2021-02-15 15:27] mparry commented on #697
I guess it depends what you're aiming for with mamba exactly. If you want it to work as closely as possible to conda out of the box then, since conda / requests don't do these checks at all, I think it should just be turned off by default (maybe with an option to re-enable it).

[2021-02-16 13:56] xhochy commented on #151
@wolfv Is this also about the `proxy_servers:` option in the `.condarc`?

[2021-02-16 16:31] simone-pignotti opened #698 "[bug] nothing provides __osx >=10.10 needed by [pkg] when creating from file"
Hi,

I believe the creation of an environment from a YAML file has a little bug, at least on MacOS. Running `mamba env create -f env.yml` with the following content:
[code]
returns:
[code]
while `mamba create -n test python-kaleido`, which should be equivalent since I have the same channel priorities in my `~/.condarc`, completes successfully.

Is anyone able to replicate this?

Thanks!
Simone

[2021-02-16 16:44] simone-pignotti commented on #698
PS `conda env create -f env.yml` works!

[2021-02-16 23:51] zbs opened #699 ""Cannot remove directory" error shouldn't terminate the process"
I'm using mamba to create an environment
[code]
but it fails with
[code]

The `pkgs` cache is read-only, and I don't have write access:

- I think the script shouldn't terminate on that error; it doesn't need to clean things up in order to create a directory
- Is there a workaround I can use in the meantime? Perhaps bypassing the cache altogether?
- I think it would be great if this behavior could

[2021-02-17 10:37] wolfv commented on #699
@zbs yes, you can use the previous mamba version. I am fixing that.

[2021-02-17 15:40] wolfv commented on #151
yes, I think the proxy server options aren't correctly working with mamba (we're not configuring libcurl to mirror what conda does).
I had some prototype code that implemented these options https://github.com/mamba-org/mamba/pull/161 but not really tested it thoroughly.

[2021-02-17 15:42] wolfv commented on #698
Hi @simone-pignotti I believe this was recently fixed (this PR https://github.com/mamba-org/mamba/pull/661). What mamba version are you on?

[2021-02-17 15:46] #655 closed

[2021-02-17 15:47] wolfv commented on #655
I believe this is now fixed, and we have tests to prevent it from happening again.

Thanks for the bug report and please let me know if I am mistaken!

[2021-02-17 16:33] simone-pignotti commented on #698
Hi @wolfv, thanks it works with the latest mamba release (I was on 0.7.8, I should have updated before opening this sorry!).

[2021-02-17 16:33] #698 closed

[2021-02-17 17:20] vdsbenoit commented on #655
I confirm I do not have the issue anymore with mamba 0.7.14. Thank you !

[2021-02-17 18:52] wolfv commented on #698
No worries.

Cheers!

[2021-02-17 20:58] marouane-miftah commented on #83
Hi,

 I am seeing the same issue using:

Mac OS Big Sur v 11.2.1
conda 4.9.2

command to install mamba:
`(base) My-MBPro:~ x$ conda install mamba -c conda-forge`

When I run
`(base) My-MBPro:~ x$ conda list mamba`

I get the error:
`EnvironmentLocationNotFound: Not a conda environment: /Users/x/micromamba`

[2021-02-23 08:33] wolfv opened #703 "[micromamba] Windows: make sure chcp works in post-link scripts"
We've got some error reports where linking widgets nbextensions (one of the few packages with a postlink script) wasn't working for people with Windows codepages that are not UTF-8.

Usually we should "wrap" this call in something that calls CHCP and sets it properly to UTF-8.

[2021-02-23 15:46] #667 closed

[2021-02-24 09:34] RaverJay commented on #610
Ran into this today, after `mamba install magic-wormhole` into my base miniconda3 env:

[code]

But spake2 is clearly in the env:

[code]

And now it appears this env is totally blasted:

[code]

The list goes on and on O_O

[2021-02-24 09:58] RaverJay commented on #610
reverted my env, then ran

[code]

and that worked.

Compare to mamba's package plan:

[code]

[2021-02-24 10:28] wolfv commented on #554
There is another source of many open file handles (we open all files we want to download, which sometimes can be many). I have fixed that in #705

[2021-02-24 12:19] vv111y commented on #633
I almost exclusively create envs via `-f foo.yaml`
Will mamba provide its functionality for this use case anytime soon?

[2021-02-24 12:40] wolfv commented on #633
@vv111y we have the same command. It's just only the solving that is done inside mamba, everything else is done by conda in this case.

Also, we're working towards better command line interfaces in micromamba.

[2021-02-24 13:24] vv111y commented on #633
okay so we will see some acceleration?

[2021-02-24 13:25] #613 closed

[2021-02-24 13:26] wolfv commented on #613
strict channel prio is supported, and we're working towards reading `condarc/mambrc` files in #702

[2021-02-24 13:28] #607 closed

[2021-02-24 13:34] wolfv commented on #610
@raverjay i think it would be better to create new environments (also makes it easier to _wipe_ them afterwards).

The package plans on a first glance look pretty similar, so I am not sure why one should work vs the other. Any ideas?

For creating new envs: `conda / mamba create -n testenv magic-wormhole ...; conda activate magic-wormhole`

[2021-02-24 13:35] wolfv commented on #526
Hi @nehaljwani

we're doing builds now over at boa-forge: https://github.com/mamba-org/boa-forge/releases

[2021-02-24 13:35] #526 closed

[2021-02-24 13:42] wolfv commented on #496
Hi @ijstokes any chance that you could try this again with the latest mamba? We had some recent improvements there.

Furthermore, I am not sure I understand the artifactory authentication format. Mamba is supposed to support "Basic HTTP Authentication" that follows the scheme: `http://user:password@someserver.com`

But the URL you posted looks like:

`https://stokesrees.ian@example.com:LONG-TOKEN-

[2021-02-24 13:45] wolfv commented on #482
Thanks @bdice for the issue. We've been looking into this, but it's not _that_ simple since we need to enter "raw mode" in the terminal... @martinRenou did some initial work in #540 which would make this available.

[2021-02-24 13:47] nehaljwani commented on #526
Thank you @wolfv ! It would be great if you could update the README/docs on this repo to point to that page 🙂

[2021-02-24 13:47] wolfv commented on #469
I think this is better nowadays.

[2021-02-24 13:47] #469 closed

[2021-02-24 13:51] RaverJay commented on #610
Surely that would be more reasonable, but I can't shake the desire to have the day-to-day things in my base :D

At least the spake2 builds are different, does that matter?
Also there is this: https://github.com/magic-wormhole/magic-wormhole/issues/405

[2021-02-24 14:55] wolfv commented on #526
yep, I am waiting a bit more for it to "stabilize" :)

[2021-02-24 15:00] xhochy commented on #496
I'm using `mamba=0.7.14` and Artifactiory successfully together, this rather looks like the token was placed at the wrong point in the URL.

[2021-02-24 16:16] abhi18av opened #706 "[Feature request/RFC] Resolve conda envs in parallel"
Hi Mamba team,

Thanks for the wonderful initiate!

I was wondering whether using `mamba` it'd be possible to resolve conda environments in parallel. From a preliminary experimentation here  (Credit - Gregor Sturm https://github.com/nextflow-io/nextflow/issues/1819#issuecomment-783505784)

-    clean conda cache
[code]
-  run in two terminal windows in parallel

[code]

-    Error message:

[code]

[2021-02-24 16:33] tl-hbk commented on #697
This is something I'd like to see added as well.

@wolfv I was wondering if you had any thoughts on @mparry's last comment about conda not doing these checks or if you'd prefer to keep these checks as an option if there should be a different way other than `ssl-verify` since I'm under the impression that that would prevent passing a custom cacert bundle.

[2021-02-24 17:28] tl-hbk commented on #628
This change here seems to have been what caused the `.condarc` option to stop working

https://github.com/mamba-org/mamba/commit/5c2951cc181d383e131fc345d439fc2878fe94db#diff-83165d5f8a167348297e4c513a32c2e9b78cfcd82f7a134a770683d710073989L95-L98

[2021-02-24 18:31] mariusvniekerk commented on #696
i've been using regular old python filelock to prevent package cache corruption

[2021-02-24 19:24] wolfv commented on #696
A global lock for the entire cache folder? I've been thinking a lock per package name would be cool (also a bit more engineering...)

[2021-02-24 19:29] ralexx opened #708 "Update README to explain base env installation requirement"
I would like to submit a simple PR to make this point (https://github.com/mamba-org/mamba/issues/631#issuecomment-744407332) explicit in the docs.

It's not immediately apparent that mamba *must* be installed into the `base` Conda env. I was also caught by the same `mamba env update -n foo -f bar.yml` gotcha as #631, because experience has taught me the hard way that I should keep my base env as m

[2021-02-24 19:58] wolfv commented on #708
Yes, that would be greatly appreciated!
You could also add it to the docs (rendered at mamba.readthedocs.io)

[2021-02-24 20:03] ralexx commented on #708
Thanks, will do. I will mark as WIP meanwhile.

[2021-02-24 21:49] dhirschfeld commented on #628
It looks like the code assumes that `ssl_verify` is either a boolean or an empty string and doesn't admit the possibility to specify a path to `ca-certificates.crt`?

![image](https://user-images.githubusercontent.com/881019/109069600-2a38ad80-773d-11eb-8673-0a0dae31c151.png)

https://github.com/mamba-org/mamba/blob/9997ff826585b7f7ee613714d98e0941986c42f2/mamba/utils.py#L158-L166

[2021-02-25 06:45] #708 closed

[2021-02-25 10:40] wolfv commented on #706
Hi @abhi18av thanks for filing this issue.

Indeed, we're also looking at more "stability improvements" here https://github.com/mamba-org/mamba/issues/696

This feature requires "locking" of either the `pkgs` directory, or the packages in that directory.

Locking the entire `pkgs` directory with a lockfile should be quite straight-forward to implement. Locking single packages would be harder.

[2021-02-25 11:08] abhi18av commented on #706
Thanks for the quick revert @wolfv !

Hmm, interesting way to approach this. Allow me to highlight one of the scenarios which would affect our use case.

In Nextflow, users often end up running hundreds of tool and therefore, possibly creating and using `conda` envs in parallel. Do you think that due to the locking of `pkgs` by one of these `conda/mamba` processes, it might end up causing some of

[2021-02-25 16:25] jeLee6gi opened #713 "fish shell support"
fish is referenced as one of the supported shells in the help text (`micromamba shell --help`) although there is no activator for it.

[2021-02-25 16:26] wolfv commented on #616
this should be fixed by #710

[2021-02-25 16:26] #616 closed

[2021-02-25 16:27] wolfv commented on #713
yes, want to write one for FISH? Would be cool! (Basically it's about porting what conda does).

[2021-02-25 16:42] jeLee6gi commented on #713
I'm not very familiar with C++ but I could try by referencing both the other activators and the script from conda.

[2021-02-25 16:46] wolfv commented on #713
exactly. Feel free to open a PR once you've got something and we can take a look as well.

[2021-02-25 20:12] DavidMertz opened #715 "Mamba frequently crashes"
When Mamba succeeds it is many times faster than conda.  But for me, it crashes about 50% of the time I try to use it (for all the various operations: creating environments, removing them, installing or removing packages, etc).

The SSL complaint is common, but not universal.  Moreover, if this is the only underlying issue, I'd expect to succeed *never* not 50% of the time.  Moreover, while conda

[2021-02-25 20:41] wolfv commented on #715
Are you mixing channels/have a dirty bad environment?

Please make sure curl and OpenSSL are recent and come from conda forge (use strict channel priority).

Also mamba needs to live in the base env.

I see that you're using pytorch which might still use track_features instead of mutex packages to differentiate gpu/cpu packages (I need to check, not sure what the current state is). Track features

[2021-02-25 21:10] DavidMertz commented on #715
@wolfv I'm confused by some of your comments, but others I can clarify:

[code]

So base env install.  The particular environment I tried to create for this example does not contain pytorch.  For some reason, the error log decided to display information about another environment that did (oh, I guess because I was in that PyTorch environment when I did the `mamba env create`).

Yes, I need librari

[2021-02-25 21:18] DavidMertz commented on #715
I do I convince mamba to use the conda base `curl` rather than system `curl`:

[2021-02-25 22:19] wolfv commented on #715
I think your comment got cut off.

But we might be getting closer to the root of the problem. Maybe it's loading the wrong shared libraries that don't come from your base env when you execute mamba with another env activated?

Does mamba work reliably from the base env and with base env activated?

I guess once we make 'mamba' a shell command (similar to conda) we can also fiddle with the path (in

[2021-02-25 22:46] DavidMertz commented on #715
Hmm... there **is** a different location in base than by default.  It doesn't fix it, but the path changes:

[code]

[2021-02-25 22:49] DavidMertz commented on #715
It doesn't look like mamba is dynamically linked:

[code]

[2021-02-25 22:50] DavidMertz commented on #715
Also:

[code]

[2021-02-26 03:36] DavidMertz commented on #715
So... this isn't a solution I **love**, but it is one that works.  If I run this:

[code]

My problems with mamba go away (at least on initial efforts).  Of course, not verifying SSL certs means.... I'm not verifying SSL certs. So there's that.

[2021-02-26 05:04] wolfv commented on #715
the python extension is `mamba_api` in your `lib/python3.x/site-packages/mamba/..` folder (which you could run ldd on).

For conda list it would be great to see the complete output (or at least the dependencies relevant to the problem at hand (curl, openssl...). Those dependencies should come from conda-forge (there are no strong binary compatibility guarantees across channels).

I think I know th

[2021-02-26 05:39] wolfv commented on #628
this should be fixed by #712. I'll release today or on Monday.

[2021-02-26 05:39] #628 closed

[2021-02-26 05:39] #697 closed

[2021-02-26 05:41] wolfv commented on #697
thanks @tl-hbk for fixing this. @mparry once the next release of mamba/micromamba is out, you can use the env var `MAMBA_SSL_NO_REVOKE=1` to disable revocation checking.

[2021-02-27 00:21] DavidMertz commented on #715
I'm not certain what is expected here, but this is mine:

[code]

[2021-02-27 00:23] DavidMertz commented on #715
The root environment is likewise all conda-forge stuff:

[code]

[2021-02-27 06:58] #496 closed

[2021-02-27 06:58] wolfv commented on #496
Let me know if you still have issues @ijstokes

[2021-02-27 07:02] wolfv opened #722 "[micromamba] add support for virtual packages"
The last missing bit for micromamba to be fully-compliant are virtual packages. It will be a bit of work since we can't rely on some of the Python goodies to figure out the virtual packages.

We need:

- [ ] [__glibc](https://github.com/conda/conda/blob/86b4aea54b27666e33b835063c8e37f7dfb35264/conda/common/_os/linux.py#L19)
- [ ] __osx
- [ ] __unix
- [ ] __win
- [ ] __cuda
- [ ] __arch

We need to

[2021-02-27 07:27] wolfv commented on #715
looks fine. If you run `mamba` from the base env, does it work fine?

[2021-02-27 15:05] DavidMertz commented on #715
@wolfv Nope.  The very same "Problem with the SSL CA cert (path? access rights?)" continues to occur. I have exactly the configuration detailed above. I've tried removing and reinstalling mamba (in the base environment), etc.  Conda finds SSL certs no problem.

[2021-02-27 15:20] wolfv commented on #715
Mamba uses curl / libcurl and not requests and so the way they find ssl certificates is different. There are also some environment variables that can influence that (REQUESTS_SSL...) and curl has similar ones.

[2021-02-27 15:27] DavidMertz commented on #715
I do not have any such environment variables set (but I'm happy to if it would fix things).:

[code]

[2021-02-27 15:43] wolfv commented on #715
Yeah i think that file should be in the ca-certificates package. Maybe that's somehow broken? Force reinstalling might help.

[2021-02-27 15:49] DavidMertz commented on #715
Hmmm.... I manually downloaded `https://curl.se/ca/cacert.pem` and moved it to `$HOME/miniconda3/ssl/cacert.pem`.

That gets me past the ""Problem with the SSL CA cert" message.  But then when I run:

[code]
For a relatively complex environment I actually use, it first lists a lot of packages, in every case listing them as "Cached" (168 packages, one small one not listed as cached), then afterward

[2021-02-27 15:53] DavidMertz commented on #715
I forced reinstall of curl and certifi several times already.  Only manually copying the file seemed to "fix" it.

[2021-02-27 16:38] wolfv commented on #715
for me the `$PREFIX/ssl/cacert.pem` file is in the ca-certificates package:

(excerpt from `find . | grep cacert.pem` in `miniconda3/pkgs/`:

[code]

I can't tell what exactly happend but for some reason you must have either removed that file from the environment or from the packages cache (since conda list indicated that the package is properly installed).

Regarding the re-download of cached fil

[2021-02-28 16:58] tdegeus opened #723 "Unexpected error"
[code]

[2021-02-28 17:35] wolfv commented on #723
That's actually an upstream conda issue (https://github.com/conda/conda/issues/10490)

The mamba repoquery command should continue to work fine:

mamba repoquery search ...

[2021-03-01 01:19] antonkulaga opened #724 "mamba should be able to create environment"
I believe one of the main use-cases of conda is setting up the environment from the manually written environment.yaml files (cause automatically generated are often trash), often containing many dependencies. Without the support to create environment.yaml by mamba the benefits of mamba are quite limited to console commands.

[2021-03-01 01:21] antonkulaga commented on #724
ups, did not notice that you already have minimamba

[2021-03-01 01:21] #724 closed

[2021-03-01 05:10] tl-hbk opened #725 "Constraint ignored by solver"
Constraints in the format `foo=*.dev` are being ignored by the solver.  The `MatchSpec` appears to match conda so I'd assume the problem is wherever the versions are checked to see if they match the specs provided.

[code]

[code]

[2021-03-01 07:55] wolfv commented on #724
yes, you can create environments from `yaml` files with `mamba env create -f myfile.yml`.

[2021-03-01 11:08] phue opened #726 "[micromamba] clean command fails when only base environment exists"
Hi,
when using the latest [micromamba-docker](https://hub.docker.com/r/mambaorg/micromamba) base image, I noticed that the `micromamba clean` command throws an error if packages are installed in the `base` environment only, presumably because it expects `/opt/conda/envs` to exist.

[code]

[2021-03-01 12:38] wolfv commented on #723
closign this one as it's an upstream / conda bug. Thanks though!

[2021-03-01 12:38] #723 closed

[2021-03-01 12:38] wolfv commented on #723
equivalent repoquery: `mamba repoquery search frictionqpotfem`

[2021-03-01 12:42] tdegeus commented on #723
Thanks @wolfv

[2021-03-01 13:31] wolfv commented on #725
Hi @tl-hbk thanks for filing an issue.

Can you give me some more details on what you're trying to do and how?

Are you referring to "run-constrains" or to "requirements"?

Are you trying to install a package using `mamba install "foo=*.dev"`?

[2021-03-01 13:32] wolfv commented on #725
When using repoquery (which should use the same mecahnism as installing) I do get some results for this query:

`mamba repoquery search "*=*dev"`

[2021-03-01 14:45] tl-hbk commented on #725
I'm trying to install some packages using some internally hosted channels in addition to the main anaconda channels.  For some packages like `certifi` I have a patched version with `.dev` appended at the end but when I do something like `mamba create certifi=*.dev` it picks up a version that doesn't end with `.dev`

`mamba repoquery search "*=*dev"` also picks up several packages that don't end wi

[2021-03-01 14:55] wolfv commented on #726
Thanks, yep, looks like an issue! PR's would be welcome.

[2021-03-01 15:55] tl-hbk commented on #666
@wolfv does this PR solve this issue?  https://github.com/openSUSE/libsolv/pull/434  I assume the only follow up is modifying mamba to call `repo_add_conda` with the flag if `use_only_tar_bz2` is set

[2021-03-01 16:27] wolfv commented on #666
awesome, yes, this looks great!

[2021-03-01 18:20] #726 closed

[2021-03-01 22:53] JBlaschke commented on #412
My workaround at the moment is to install conda in the environment, and to use that for the `--force` uninstall:
[code]
But ideally mamba will be able to do that soon :)

[2021-03-02 01:21] dhirschfeld opened #730 "[windows] Permission denied errors"
I just updated to the latest `mamba` and have started seeing unhandled access denied errors.

I'm running in an admin terminal. I rebooted my PC with no luck. I manually deleted the problematic folder (with no apparent trouble) and then `mamba` complained about a different folder.
[code]
[code]

I'll try and investigate further - just posting to keep track and in case others are also seeing this..

[2021-03-02 02:53] dhirschfeld commented on #730
Reverting to 0.7.12 has *"fixed"* the problem

[2021-03-02 03:01] dhirschfeld commented on #730
Possibly related #699?

[2021-03-03 10:01] wolfv opened #732 "[micromamba] json output from --dry-run create should be topographically sorted"
Currently that output is alphabetically sorted (by package name) which doesn't make a whole lot of sense.

Topo sorting will ensure that re-creating an env from a lock file should work fine.

[2021-03-03 13:59] adament opened #733 "[windows] UNC path not supported by mamba, supported by conda"
In conda on windows it is possible to refer to a channel on a windows share using a UNC path using
[code]
Curl supports using the `file:////hostname/share` URL to refer to a UNC path. However it seems that mamba replaces the quadruple slash with a double slash before passing it on to curl as `file://hostname/share`. Would it be possible to keep the quadruple slash and pass it to libcurl? We are us

[2021-03-03 14:36] wolfv commented on #733
A PR would be very welcome!

[2021-03-03 14:46] wolfv commented on #715
I don't think there is anything actionable in here anymore (please correct me if I am wrong). Will close for now.

Hopefully the caching issue is solved with the upcomign release.

Thanks!

[2021-03-03 15:01] buhrmann opened #735 "Print more explicit info when requesting package that is also pinned"
Hi, it seems in some cases mamba isn't any more forthcoming about conflicts then conda. E.g. in a particular environment, when I try to install pynndescent=0.4.7 (from conda-forge):

[code]

But then trying to install pynndescent=0.4.8:

[code]

And I can't seem to find any way in mamba to understand what has failed exactly? The repoquery e.g. returns the same dependencies in both cases, when I ru

[2021-03-03 15:09] wolfv commented on #735
hmm, yeah, it's not the ideal error message, for sure. I haven't seen this one, actually.

Would be interesting to see a conda list output of your environment (creating a fresh env with the version you indicated seems to work for me).

Are you pinning packages by any chance? Maybe printing `conda info` could give some further clues.

Also if you really want to debug this, then run mamba with `-vvv

[2021-03-03 15:33] buhrmann commented on #735
Yes, the problem seems to have been because of a conflicting spec in the pinned file (which I think until recently mamba ignored?). I don't know how feasible an error message to that effect would be? I think conda outputs something like "Requested spec conflicts with pinned spec" or similar.

As for `repoquery depends`, the output of  `conda search -i some_pkg` seems a bit more helpful, e.g. for t

[2021-03-03 15:41] wolfv commented on #735
@buhrmann it would be nice if you could elaborate which package was pinned so we can easily recreate the issue.

You can still use `conda search` from mamba (`mamba search`) so we support the same feature, technically, hehe.

But I agree, the depends output is not great (there is an open issue https://github.com/mamba-org/mamba/issues/618 ).

Any help on these topics is highly appreciated!

[2021-03-03 15:47] buhrmann commented on #735
In this case it was in fact the very same package that I was trying to install that was pinned to an earlier version hahaha. I must have ended up in this state after changing the version in one part of a "multi-stage" build, where each stage installs its own requirements. An earlier stage must have installed (or at least pinned) a newer version, and a later stage an older version.

[2021-03-03 18:22] buhrmann opened #738 "Document feature compatibility between conda, mamba and micromamba"
Hi, so I was getting confused about which package manager (and which specific command) supports which type of package specifications. As a result I created the below table. Perhaps something similar but extended might be useful to document about mamba/micromamba, to make it easier to identify any necessary changes when moving between them? And also to keep it updated as micromamba receives new fea

[2021-03-03 18:49] wolfv commented on #738
Yeah, this is cool! Thanks for doing this work.

yes, mamba and micromamba always use libsolv for solving.

- `update` is coming to micromamba with the next release
- multiple files are supported (but only for explicit or simple spec-files (not yaml))
- pinned packages support is also coming
- virtual package support (__osx, __glibc, ...) is also coming with the next micromamba release

So the "ga

[2021-03-03 19:19] buhrmann commented on #738
I think I already noticed a mistake in the table. It seems that while `mamba install ...` _does_ respect the pinned file, `mamba env update` _does not_, is that the expected result?

[code]

[code]

while calling `mamba install pandas` instead results in

[code]

I'll update the table above...

[2021-03-04 04:45] certik opened #739 "Mamba 0.7.14 segfaults on macOS"
Here is a full output:
[code]
Now, I was running `mamba` in another terminal also (that one finished without a segfault). Perhaps it is related. When I rerun the above command it succeeded.

Either way, it should not segfault like this, but give a useful error message.

[2021-03-04 05:17] tl-hbk commented on #725
Just leaving an update on this issue.  For some reason the same issue is not reproduceable on my personal computer using the anaconda defaults and conda-forge.  Will need to investigate further though because the environment I initially tested this one vs my personal computer are pretty different (linux vs windows, self hosted channels vs not, possibly different set of packages in environment too)

[2021-03-04 08:24] wolfv commented on #739
Thanks for opening this issue. I think it's very much related to running multiple mamba's in parallel (if I got that correctly?). They share the same package cache and therefore might try to write to the same files.

In #696 we are considering to add more robustness improvements. For this case, we could either have a global lock on the package cache, or a lock per package.

Any chance you have exp

[2021-03-04 09:12] certik commented on #739
Yes, I ran it in parallel.

I don't have experience with lock files. It looks like it will be some work to get it working on all platforms: https://stackoverflow.com/questions/1599459/optimal-lock-file-method

[2021-03-04 09:15] wolfv commented on #739
yes, indeed, proper cross-platform support is always the tricky part. We'll look into this shortly after the next release is out!

[2021-03-04 09:16] wolfv commented on #739
PS: boost to the rescue, maybe we can borrow some ideas here: https://www.boost.org/doc/libs/1_44_0/doc/html/boost/interprocess/file_lock.html

[2021-03-04 17:58] wolfv commented on #739
https://github.com/boostorg/interprocess/blob/develop/include/boost/interprocess/detail/file_locking_helpers.hpp

[2021-03-04 18:36] tl-hbk commented on #725
@wolfv not too familiar with c so please let me know if I made any mistakes here but it looks like the regex polyfill isn't working properly on windows in libsolv.  I tested the `regexmatch` function in `conda.c` and it seems like everything returns a match on windows while it works as expected on linux.

[code]

[2021-03-04 18:43] wolfv commented on #725
Hi @tl-hbk thanks for finding this issue! I think you're right. We need to look into this polyfill and if we're using it wrongly.

Do you want to file an issue with libsolv?

[2021-03-04 18:43] tl-hbk commented on #725
Sure I'll create it

[2021-03-05 11:13] mlschroe commented on #725
This happens because of:
[code]
As size_t is unsigned, the if statement is always wrong leading to an immediate match.

@wolfv : you imported the regex code, why does this work in the original?

[2021-03-05 11:18] wolfv commented on #725
yep @mlschroe I am taking full responsibility here, sorry! I need to check what's going on, thanks for looking into this.

[2021-03-05 11:25] wolfv commented on #725
ok, so I think when I took this file from musl-c I defined regoff_t myself (since it's probably not defined otherwise) and messed this up. We could try to define it as a signed integer and add one or multiple tests to libsolv.
The original define that I should have looked at is here: https://github.com/ifduyue/musl/blob/a5aff1972c9e3981566414b09a28e331ccd2be5d/include/alltypes.h.in#L7-L10

[2021-03-05 11:26] mlschroe commented on #725
Musl uses ssize_t instead of size_t for regoff_t, see alltypes.h:
[code]

[2021-03-05 11:27] wolfv commented on #725
yep. my mistake.

[2021-03-05 15:01] tl-hbk commented on #725
@wolfv are you creating a PR with the fix or should I do so?  I tested changing the typedef to `typedef long regoff_t;` and it seems to be working now.

[2021-03-05 15:10] wolfv commented on #725
please go for it! Thanks!

[2021-03-06 10:07] ddobrinskiy commented on #549
This is amazing.

I switched CI for my projects to micromamba, and compared to using a miniconda docker image, this reduced build times more than 2x

Thank you guys.

[2021-03-06 17:49] wholtz commented on #549
@ddobrinskiy That's awesome! I'm going to put that quote somewhere more visible.

[2021-03-07 10:32] ReimarBauer opened #747 "update --all may not get highest build number"
updating with mamba of a project is much much faster than with conda only. :)

I can't say if conda or mamba would do this differently. I recognized on one of our servers that I had after the update --all the version 2.0.0 build number 0 while we have a build number 1.

Something blocked the update to go directly to 2.0.1. I've forced this by conda and updated based on that the other parts.

The m

[2021-03-09 08:11] adament commented on #733
I think I have identified the issue to [line 463](https://github.com/mamba-org/mamba/blob/243bf801e99fc2215f88fd87c66574aeb85a52e9/src/channel.cpp#L463) in the `fix_win_path` function in `channel.cpp`. However given the [test](https://github.com/mamba-org/mamba/blob/243bf801e99fc2215f88fd87c66574aeb85a52e9/test/test_channel.cpp#L28) it seems the like the incompatibility with conda was intentional.

[2021-03-09 09:30] adament commented on #733
Turns out this was not correct. It seems that the current implementation of fix_win_path just matches win_path_backout in conda.common.path so when calling conda.core.index.calculate_channel_urls the result has stripped the initial // from the UNC url as well. I do not know where conda makes that back into a UNC path again.

[2021-03-09 09:32] adament commented on #733
My current guess is that conda fixes the problem created by stripping the UNC prefix by reintroducing it again in url_to_path in conda.common.path.

[2021-03-09 09:43] ppoilbarbe opened #748 "C++ raises exception with stoi for some build numbers"
We use CI to build our packages and have 2 channels where we publish our packages: main for all tagged versions, dev for all development build (built on each push on development branch).
Packages made from dev branch have version of the planned new tag and a build number to differentiate package builds.
To make it more readable, we put date and time of the commit as the build number (so if build p

[2021-03-09 10:44] wolfv commented on #748
There was another user on gitter recently: https://gitter.im/QuantStack/Lobby?at=6040dbbe5d0bfb4e588794b6

[2021-03-09 10:47] wolfv commented on #733
if there is absolutely no cleaner way, then yeah, I guess we have to do it.

btw. just to make sure: can you check that this URL format works with curl? (`curl file:////.... -o test.json`) so that we know we won't hit problems in curl later on.

[2021-03-09 12:16] wolfv commented on #748
I am pretty sure it's in this spot: https://github.com/mamba-org/mamba/blob/185761f425ba2960556f8d7f908045d2183817dd/src/package_info.cpp#L108-L111 :)

[2021-03-09 12:22] pbauwens-kbc commented on #748
Hi, I'm 'the other user' :-)

I just cloned the repo on my mac but get an error when trying to compile but it seems like I am missing a dependency. It fails to resolve this #include "ghc/filesystem.hpp"

Any insights on how I can get past this?

Thanks

mamba % pip install -e .
Obtaining file:///Users/peterbauwens/repos/mamba
Requirement already satisfied: pybind11>=2.2 in /usr/local/anaconda3/lib

[2021-03-09 12:27] wolfv commented on #748
https://github.com/mamba-org/mamba#development-installation

[2021-03-09 12:53] obilaniu commented on #748
My preferred way to bypass the filesystem issue is to use the standard headers, which can be achieved using `cmake -DCMAKE_CXX_FLAGS="-DMAMBA_USE_STD_FS=1"`.

[2021-03-09 13:08] pbauwens-kbc commented on #748
I can confirm that after replacing the stoi statements to stoll in both link.cpp and package_info.cpp everything works as expected.

[2021-03-09 13:38] pbauwens-kbc commented on #748
OK, will try to do that :-) Will be my first time. I would like to run some extra tests first.

Any idea how long it would take for it to be released after the pull request is merged? We currently have severe issues with conda in production, times for resolving an environment are horrible.

[2021-03-09 14:00] wolfv commented on #748
I think we'll have another release this week :)

[2021-03-09 17:15] wolfv opened #750 "[web] micro.mamba.pm gives `null` win-64 package"
Currently, when we push a new micromamba release, the linux / os x packages land a bit before the windows packages (due to the way these packages are built on conda-forge).

During that intermediate time, the endpoint returns `null` for win-64. We need to improve that and continue to return the latest available win-64 release.

[2021-03-09 17:41] antonkulaga opened #751 "micromamba cannot create an environment with pip dependencies"
the following environment is created by conda without any issues, however when I try to create it by micromamba by:
[code]
I get
[code]
here is the content of environment.yaml:
[code]
My hypothesis is that it does not parse correctly pip dependencies

[2021-03-09 17:56] wolfv commented on #751
yes, we cannot currently handle pip deps in environment yaml files. this is a duplicate of #589

btw. we also don't handle the `prefix: ...` specifier yet.

PR's for implementing the `pip` part would be very welcome!

[2021-03-09 17:56] #751 closed

[2021-03-09 17:56] wolfv commented on #751
closed as duplicate

[2021-03-10 07:06] wolfv opened #755 "[micromamba] Do not look for ssl certs if `--offline` is given"

[2021-03-10 07:06] wolfv commented on #755
ref: https://github.com/conda-forge/miniforge/pull/108

[2021-03-10 07:09] isuruf opened #756 "[micromamba] don't warn about empty MAMBA_ROOT_PREFIX if CONDA_PKGS_DIRS is given"
When upgrading micromamba for miniforge, the following new warning appears,
[code]

This would be confusing to users of miniforge. Can we suppress the warning if `CONDA_PKG_DIRS` is given?

[2021-03-10 08:09] #755 closed

[2021-03-10 08:11] wolfv commented on #739
I've started implementing a lock file approach here: #752

Have to do the same for Windows. I think we'll globally lock the package cache for now, otherwise the waiting will be quite complicated (until we refactor how we get packages and put this into a more task-based approach, using TaskFlow or similar).

[2021-03-10 08:47] wolfv commented on #549
Yes, I think there are now two very good sources for docker images with mamba or micromamba:

- [condaforge/mambaforge](https://hub.docker.com/r/condaforge/mambaforge)
- [mamba-org/micromamba](https://hub.docker.com/r/mambaorg/micromamba)

So closing this is fine.

[2021-03-10 08:47] #549 closed

[2021-03-10 08:49] wolfv commented on #730
Hi @dhirschfeld we tried to fix this with the latest release. Please re-open if it still happens!

[2021-03-10 08:49] #730 closed

[2021-03-10 08:49] wolfv commented on #260
We fixed that in #736

[2021-03-10 08:49] #260 closed

[2021-03-10 08:50] wolfv commented on #722
fixed (for now) in #728

[2021-03-10 08:50] #722 closed

[2021-03-10 08:51] wolfv commented on #703
I tried to break it, but I couldn't so assuming this works as intended for now.

[2021-03-10 08:51] #699 closed

[2021-03-10 08:52] wolfv commented on #686
I think the state of this is much better now.

[2021-03-10 08:52] #686 closed

[2021-03-10 08:52] #665 closed

[2021-03-10 08:53] wolfv commented on #665
Please let me know if you're still having issues.

We've been using micromamba as a custom github action for a while now and it has worked pretty well (also on Windows): https://github.com/mamba-org/provision-with-micromamba